<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Asset Request - {{incident.incidentNo}}</strong>
        </div>
        <form [formGroup]="angForm" novalidate>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <tr>
                <td width="50%"><strong>Product Category</strong></td>
                <td>{{incident?.moduleName}}</td>
              </tr>
              <tr>
                <td><strong>Product Sub Category</strong></td>
                <td>{{incident?.subModuleName}}</td>
              </tr>
              <tr>
                <td><strong>Request Title</strong></td>
                <td>{{incident?.title}}</td>
              </tr>
              <tr>
                <td><strong>Request Message</strong></td>
                <td>
                  <div [innerHTML]="incident.communications[incident.communications.length-1]?.message"></div>
                </td>
              </tr>
              <tr>
                <td><strong>Attachments</strong></td>
                <td>
                  <div *ngIf="incident.communications[incident.communications.length-1]?.attachments.length > 0"
                    class="btn-group" role="group">
                    <ng-container
                      *ngFor="let e of incident.communications[incident.communications.length-1]?.attachments">
                      <span class="actionable-span" (click)="downloadFile(e.id)">{{e.fileName}}&nbsp;&nbsp;</span>
                    </ng-container>
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Requested User Details</strong></td>
                <td>
                  Name : {{incident.raisedUser?.firstName}} {{incident.raisedUser?.lastName}}<br />
                  Employee Id : {{incident.raisedUser?.employeeId}}<br />
                  Project Code : {{incident.raisedUser?.projectCode}}
                </td>
              </tr>
              <!-- <tr>
                <td><strong>Long Term?</strong></td>
                <td>{{incident.longTerm==true? 'Yes' : 'No'}}</td>
              </tr> -->

              <!-- <tr>
                <td><strong>Comment</strong></td>
                <td>{{incident.communications[0]}}</td>
              </tr> -->
              <!--  -->
              <tr>
                <td><strong>Approver Feedback</strong></td>
                <td>
                  <div *ngIf="!incident.feedbackProvided">
                    <textarea id="approverComment" rows="4" class="form-control textarea-non-resizable"
                      formControlName="approverComment" id="approverComment" name="approverComment"
                      placeholder="Approver Feedback"></textarea>
                    <div *ngIf="f.approverComment.touched && f.approverComment.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="f.approverComment.errors?.required">
                        Approver Feedback is required!
                      </div>
                    </div>
                  </div>
                  <div *ngIf="incident.feedbackProvided">
                    {{incident.assetApproved == true ? 'Approved' : 'Rejected'}}<br />
                    {{incident.communications[0]?.message}}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-footer">
            <button *ngIf="(canApprove)" [disabled]="!angForm.valid" type="button" (click)="formSubmit('APPROVE')"
              class="btn btn-primary">Approve</button>
            <button *ngIf="(canApprove)" [disabled]="!angForm.valid" type="button" (click)="formSubmit('REJECT')"
              class="btn btn-danger">Reject</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>