<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" *ngIf="newEntity">
          <strong>Add Asset</strong>
        </div>
        <div class="card-header" *ngIf="!newEntity">
          <strong>Edit Asset</strong>
        </div>
        <form [formGroup]="angForm" novalidate>
          <div class="card-body">
            <fieldset class="border p-2">
              <legend class="w-auto">Primary Details</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="productCategory">Product
                    Category</label>
                  <ng-select [items]="productTypes" #productCategory (change)="populateChildValues($event)"
                    placeholder="-- Select Product Category --" formControlName="productCategory" id="productCategory"
                    name="productCategory" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.productCategory.touched && f.productCategory.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.productCategory.errors?.required">
                      Product Category is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="assetType">Product Sub Category
                  </label>
                  <ng-select [items]="assetList" #assetType (change)="populateModels($event)"
                    placeholder="-- Select Product Sub Category --" formControlName="assetType" id="assetType"
                    name="assetType" bindLabel="label" bindValue="id">
                  </ng-select>
                  <div *ngIf="f.assetType.touched && f.assetType.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.assetType.errors?.required">
                      Product Sub Category is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="modelNo">Model</label>
                  <ng-select [items]="modelList" placeholder="-- Select Model --" formControlName="modelNo" id="modelNo"
                    modelNo name="modelNo" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.modelNo.touched && f.modelNo.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.modelNo.errors?.required">
                      Model is required!
                    </div>
                  </div>
                  <input type="text" placeholder="Model No" formControlName="modelNoTxt" id="modelNoTxt"
                    name="modelNoTxt" class="form-control d-none">
                  <div *ngIf="f.modelNoTxt.touched && f.modelNoTxt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.modelNoTxt.errors?.required">
                      Model is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="serialNumber">Serial No</label>
                  <input type="text" formControlName="serialNumber" placeholder="Serial No." id="serialNumber"
                    name="serialNumber" class="form-control">
                  <div *ngIf="f.serialNumber.touched && f.serialNumber.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.serialNumber.errors?.required">
                      Serial No is required!
                    </div>
                    <div *ngIf="f.serialNumber.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="border p-2">
              <legend class="w-auto">Reservation Details</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="isDepartment">For Any Specific
                    Department?</label>
                  <ng-select [items]="booleanList" placeholder="-- Select --" formControlName="isDepartment"
                    id="isDepartment" name="isDepartment" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.isDepartment.touched && f.isDepartment.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.isDepartment.errors?.required">
                      Selection is required!
                    </div>
                  </div>
                </div>
                <div id="dept-inp" class="col">
                  <label class="form-col-form-label" for="department">Department</label>
                  <ng-select [items]="departmentList" placeholder="-- Select Department --" formControlName="department"
                    id="department" name="department" bindLabel="name" bindValue="id"></ng-select>
                  <div *ngIf="f.department.touched && f.department.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.department.errors?.required">
                      Department is required!
                    </div>
                  </div>
                </div>
                <div id="ofc-inp" class="col d-none">
                  <label class="form-col-form-label" for="location">Organization</label>
                  <ng-select [items]="locationList" placeholder="-- Select Organization --" formControlName="location"
                    id="location" name="location" bindLabel="officeName" bindValue="id"></ng-select>
                  <div *ngIf="f.location.touched && f.location.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.location.errors?.required">
                      Organization is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="forLocation">For Any Specific
                    Location?</label>
                  <ng-select [items]="booleanList" placeholder="-- Select --" formControlName="forLocation"
                    id="forLocation" name="forLocation" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.forLocation.touched && f.forLocation.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.forLocation.errors?.required">
                      Selection is required!
                    </div>
                  </div>
                </div>
                <div class="col" id="loc-inp">
                  <label class="form-col-form-label" for="raisedForLocation">Location</label>
                  <ng-select [items]="locationList" placeholder="-- Select Location --"
                    formControlName="raisedForLocation" id="raisedForLocation" name="raisedForLocation" bindLabel="name"
                    bindValue="id"></ng-select>
                  <div *ngIf="f.raisedForLocation.touched && f.raisedForLocation.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.raisedForLocation.errors?.required">
                      Location is required!
                    </div>
                  </div>
                </div>
                <div class="col" id="proxy-lic-inp"></div>
              </div>
            </fieldset>
            <fieldset class=" border p-2">
              <legend class="w-auto">Purchase Details</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="isUnderWarranty">Under
                    Warranty?</label>
                  <ng-select [items]="booleanList" placeholder="-- Select --" formControlName="isUnderWarranty"
                    id="isUnderWarranty" name="isUnderWarranty" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.isUnderWarranty.touched && f.isUnderWarranty.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.isUnderWarranty.errors?.required">
                      Selection is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="warrantyExpiredAt">Warranty Expiry
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="warrantyExpiredAt" id="warrantyExpiredAt"
                    name="warrantyExpiredAt" class="form-control" placeholder="Warranty Expiry Date"
                    aria-label="Warranty Expiry Date">
                  <div *ngIf="f.warrantyExpiredAt.touched && f.warrantyExpiredAt.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.warrantyExpiredAt.errors?.required">
                      Warranty Expiry Date is required.
                    </div>
                    <div *ngIf="f.warrantyExpiredAt.errors?.mustGreaterThanStartDate">
                      Warranty Expired Date should be greater than today!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="purchaseType">Purchase Type</label>
                  <ng-select [items]="purchaseTypeList" placeholder="-- Select Purchase Type --"
                    formControlName="purchaseType" id="purchaseType" name="purchaseType" bindLabel="label"
                    bindValue="id"></ng-select>
                  <div *ngIf="f.purchaseType.touched && f.purchaseType.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.purchaseType.errors?.required">
                      Purchase Type is required!
                    </div>
                  </div>
                </div>
                <div class="col rentalStartAt d-none">
                  <label class="form-col-form-label required-control-label" for="rentalStartAt">Rental Start
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="rentalStartAt" id="rentalStartAt"
                    name="rentalStartAt" class="form-control " placeholder="Rental Start Date"
                    aria-label="Rental Start Date">
                  <div *ngIf="f.rentalStartAt.touched && f.rentalStartAt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.rentalStartAt.errors?.required">
                      Rental Start Date is required.
                    </div>
                  </div>
                </div>
                <div class="col rentalEndAt d-none">
                  <label class="form-col-form-label required-control-label" for="rentalEndAt">Rental End
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="rentalEndAt" id="rentalEndAt"
                    name="rentalEndAt" class="form-control" placeholder="Rental End Date" aria-label="Rental End Date">
                  <div *ngIf="f.rentalEndAt.touched && f.rentalEndAt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.rentalEndAt.errors?.required">
                      Rental End Date is required.
                    </div>
                    <div *ngIf="f.rentalEndAt.errors?.mustGreaterThanStartDate">
                      Rental End Date should be greater than Rental Start Date!
                    </div>
                  </div>
                </div>
                <div class="col rentalStartAt-proxy"></div>
                <div class="col rentalEndAt-proxy"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="vendor">Vendor</label>
                  <ng-select [items]="vendorList" #vendor (change)="populateVendorDetails($event)"
                    placeholder="-- Select Vendor --" formControlName="vendor" id="vendor" name="vendor"
                    bindLabel="name" bindValue="id"></ng-select>
                  <div *ngIf="f.vendor.touched && f.vendor.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.vendor.errors?.required">
                      Vendor is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="vendorName">Vendor Contact Name</label>
                  <input type="text" [readonly]="true" formControlName="vendorName" id="vendorName" name="vendorName"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="vendorEmail">Vendor Email</label>
                  <input type="text" [readonly]="true" formControlName="vendorEmail" id="vendorEmail" name="vendorEmail"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="vendorContactNo">Vendor Contact No.</label>
                  <input type="text" [readonly]="true" formControlName="vendorContactNo" id="vendorContactNo"
                    name="vendorContactNo" class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="otherDetails">Other Details</label>
                  <textarea id="otherDetails" rows="4" class="form-control textarea-non-resizable"
                    formControlName="otherDetails" id="otherDetails" name="otherDetails"
                    placeholder="Other Details"></textarea>
                  <div *ngIf="f.otherDetails.touched && f.otherDetails.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.otherDetails.errors?.required">
                      Other Details is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
            </fieldset>
            <fieldset class="border p-2">
              <legend class="w-auto">Approval Details</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="orderRequestedUser">Requested
                    By</label>
                  <ng-select [items]="requesterList" #orderRequestedUser (change)="requesterUserPopulate($event)"
                    placeholder="-- Select Requester --" formControlName="orderRequestedUser" id="orderRequestedUser"
                    name="orderRequestedUser" bindLabel="nameWithId" bindValue="id"></ng-select>
                  <div *ngIf="f.orderRequestedUser.touched && f.orderRequestedUser.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.orderRequestedUser.errors?.required">
                      Requester is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="orderRequestedName">Name</label>
                  <input type="text" [readonly]="true" formControlName="orderRequestedName" id="orderRequestedName"
                    name="orderRequestedName" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="orderRequestedEmail">Email</label>
                  <input type="text" [readonly]="true" formControlName="orderRequestedEmail" id="orderRequestedEmail"
                    name="orderRequestedEmail" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="orderRequestedcontact">Contact</label>
                  <input type="text" [readonly]="true" formControlName="orderRequestedcontact"
                    id="orderRequestedcontact" name="orderRequestedcontact" class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approverUser1">Approver 1</label>
                  <ng-select [items]="approver1List" #approverUser1 (change)="approverUser1Populate($event)"
                    placeholder="-- Select Approver 1 --" formControlName="approverUser1" id="approverUser1"
                    name="approverUser1" bindLabel="nameWithId" bindValue="id"></ng-select>
                  <div *ngIf="f.approverUser1.touched && f.approverUser1.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.approverUser1.errors?.required">
                      Approver 1 is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1Name">Name</label>
                  <input type="text" [readonly]="true" formControlName="approver1Name" id="approver1Name"
                    name="approver1Name" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1Email">Email</label>
                  <input type="text" [readonly]="true" formControlName="approver1Email" id="approver1Email"
                    name="approver1Email" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1contact">Contact</label>
                  <input type="text" [readonly]="true" formControlName="approver1contact" id="approver1contact"
                    name="approver1contact" class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approverUser2">Approver 2</label>
                  <ng-select [items]="approver1List" #approverUser2 (change)="approverUser2Populate($event)"
                    placeholder="-- Select Approver 2 --" formControlName="approverUser2" id="approverUser2"
                    name="approverUser2" bindLabel="nameWithId" bindValue="id"></ng-select>
                  <div *ngIf="f.approverUser2.touched && f.approverUser2.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.approverUser2.errors?.required">
                      Approver 2 is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2Name">Name</label>
                  <input type="text" [readonly]="true" formControlName="approver2Name" id="approver2Name"
                    name="approver2Name" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2Email">Email</label>
                  <input type="text" [readonly]="true" formControlName="approver2Email" id="approver2Email"
                    name="approver2Email" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2contact">Contact</label>
                  <input type="text" [readonly]="true" formControlName="approver2contact" id="approver2contact"
                    name="approver2contact" class="form-control">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="card-footer">
            <button *ngIf="hasPermission('WRITE,APPROVE')" [disabled]="!angForm.valid" type="button"
              (click)="formSubmit()" class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>