<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" *ngIf="newEntity">
          <strong>Order an Asset</strong>
        </div>
        <div class="card-header" *ngIf="!newEntity">
          <strong>Approve Order</strong>
        </div>
        <form [formGroup]="angForm" novalidate>
          <div class="card-body">
            <fieldset class="border p-2">
              <legend class="w-auto">Request Details</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="isDepartment">For any
                    Specific Department?</label>
                  <ng-select #isDepartment (change)="isDepartmentChange($event)" [items]="booleanList"
                    placeholder="-- Select --" formControlName="isDepartment" id="isDepartment" isDepartment
                    name="isDepartment" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.isDepartment.touched && f.isDepartment.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.isDepartment.errors?.required">
                      Selection is required!
                    </div>
                  </div>
                </div>
                <div id="dept-inp" class="col">
                  <label class="form-col-form-label" for="department">Department</label>
                  <ng-select [items]="departmentList" placeholder="-- Select Department --" formControlName="department"
                    id="department" department name="department" bindLabel="name" bindValue="id"></ng-select>
                  <div *ngIf="f.department.touched && f.department.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.department.errors?.required">
                      Department is required!
                    </div>
                  </div>
                </div>
                <div id="loc-inp" class="col d-none">
                  <label class="form-col-form-label" for="location">Organization</label>
                  <ng-select [items]="locationList" placeholder="-- Select Organization --" formControlName="location"
                    id="location" location name="location" bindLabel="name" bindValue="id"></ng-select>
                  <div *ngIf="f.location.touched && f.location.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.location.errors?.required">
                      Organization is required!
                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </fieldset>
            <fieldset class=" border p-2">
              <legend class="w-auto">Asset Details</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="productCategory">Product
                    Category</label>
                  <ng-select #productCategory (change)="populateChildValues($event)" [items]="productTypes"
                    placeholder="-- Select Product Category --" formControlName="productCategory" id="productCategory"
                    name="productCategory" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.productCategory.touched && f.productCategory.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.productCategory.errors?.required">
                      Product Category is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="assetType">Product Sub
                    Category</label>
                  <ng-select [items]="assetList" #assetType (change)="populateModels($event)" placeholder="-- Select Product Sub
                  Category --" formControlName="assetType" id="assetType" assetType name="assetType" bindLabel="label"
                    bindValue="id"></ng-select>
                  <div *ngIf="f.assetType.touched && f.assetType.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.assetType.errors?.required">
                      Asset Category is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="modelNo">Model</label>
                  <ng-select [items]="modelList" placeholder="-- Select Model --" formControlName="modelNo" id="modelNo"
                    modelNo name="modelNo" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.modelNo.touched && f.modelNo.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.modelNo.errors?.required">
                      Model is required!
                    </div>
                  </div>
                  <input type="text" placeholder="Model No" formControlName="modelNoTxt" id="modelNoTxt"
                    name="modelNoTxt" class="form-control d-none">
                  <div *ngIf="f.modelNoTxt.touched && f.modelNoTxt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.modelNoTxt.errors?.required">
                      Model is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="quantity">Quantity</label>
                  <input type="text" formControlName="quantity" id="quantity" name="quantity" class="form-control">
                  <div *ngIf="f.quantity.touched && f.quantity.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.quantity.errors?.required">
                      Quantity is required!
                    </div>
                    <div *ngIf="f.quantity.errors?.pattern">
                      Invalid quantity valueI!
                    </div>
                    <div *ngIf="f.quantity.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="currency">Currency</label>
                  <ng-select [items]="currencyList" placeholder="-- Select Currency --" formControlName="currency"
                    id="currency" currency name="currency" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.currency.touched && f.currency.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.currency.errors?.required">
                      Currency is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="totalAmount">Total Cost</label>
                  <input type="text" formControlName="totalAmount" id="totalAmount" name="totalAmount"
                    class="form-control">
                  <div *ngIf="f.totalAmount.touched && f.totalAmount.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.totalAmount.errors?.required">
                      Total Cost is required!
                    </div>
                    <div *ngIf="f.totalAmount.errors?.pattern">
                      Invalid Total Cost value!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="withinBudget">Budget Available?</label>
                  <ng-select [items]="booleanList" placeholder="-- Select --" formControlName="withinBudget"
                    id="withinBudget" withinBudget name="withinBudget" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.withinBudget.touched && f.withinBudget.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.withinBudget.errors?.required">
                      Selection is required!
                    </div>
                  </div>
                </div>
                <div class="col limitAmount">
                  <label class="form-col-form-label required-control-label" for="limitAmount">Available Budget
                    Amount</label>
                  <input type="text" formControlName="limitAmount" id="limitAmount" name="limitAmount"
                    class="form-control">
                  <div *ngIf="f.limitAmount.touched && f.limitAmount.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.limitAmount.errors?.required">
                      Available Budget Amount is required!
                    </div>
                    <div *ngIf="f.limitAmount.errors?.pattern">
                      Invalid Available Budget Amount value!
                    </div>
                    <div *ngIf="f.limitAmount.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col proxy-col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col extraAmount">
                  <label class="form-col-form-label required-control-label" for="extraAmount">Additional Amount</label>
                  <input type="text" formControlName="extraAmount" id="extraAmount" name="extraAmount"
                    class="form-control">
                  <div *ngIf="f.extraAmount.touched && f.extraAmount.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.extraAmount.errors?.required">
                      Additional Amount is required!
                    </div>
                    <div *ngIf="f.extraAmount.errors?.pattern">
                      Invalid Additional Amount value!
                    </div>
                    <div *ngIf="f.extraAmount.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col "></div>
                <div class="col "></div>
                <div class="col "></div>
              </div>
            </fieldset>
            <fieldset *ngIf="newEntity" class="border p-2">
              <legend class="w-auto">Purchase Details</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="vendor">Vendor</label>
                  <ng-select [items]="vendorList" placeholder="-- Select Vendor --" formControlName="vendor" id="vendor"
                    name="vendor" bindLabel="name" bindValue="id"></ng-select>
                  <div *ngIf="f.vendor.touched && f.vendor.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.vendor.errors?.required">
                      Vendor is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="existingAgreement">Existing
                    Agreement?</label>
                  <ng-select [items]="booleanList" placeholder="-- Select --" formControlName="existingAgreement"
                    id="existingAgreement" existingAgreement name="existingAgreement" bindLabel="label" bindValue="id">
                  </ng-select>
                  <div *ngIf="f.existingAgreement.touched && f.existingAgreement.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.existingAgreement.errors?.required">
                      Selection is required!
                    </div>
                    <div *ngIf="f.existingAgreement.errors?.notValidAgreement">
                      Agreement doesn’t exist and you cannot proceed further.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="purchaseType">Purchase Type</label>
                  <ng-select [items]="purchaseTypeList" placeholder="-- Select Purchase Type --"
                    formControlName="purchaseType" id="purchaseType" name="purchaseType" bindLabel="label"
                    bindValue="id"></ng-select>
                  <div *ngIf="f.purchaseType.touched && f.purchaseType.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.purchaseType.errors?.required">
                      Purchase Type is required!
                    </div>
                  </div>
                </div>
                <div class="col agreement-end-date d-none">
                  <label class="form-col-form-label required-control-label" for="agreementEndAt">Agreement End
                    Date</label>
                  <input type="date" [min]="getToday()" format="DD-MM-YYYY" formControlName="agreementEndAt"
                    id="agreementEndAt" name="agreementEndAt" class="form-control" placeholder="Agreement End Date"
                    aria-label="Agreement End Date">
                  <div *ngIf="f.agreementEndAt.touched && f.agreementEndAt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.agreementEndAt.errors?.required">
                      Agreement End Date is required.
                    </div>
                  </div>
                </div>
                <div class="col proxy-agreement-end-date-col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col duration-col">
                  <label class="form-col-form-label required-control-label" for="purchaseType">Duration</label>
                  <ng-select [items]="rentDurationList" placeholder="-- Select Rent Duration --"
                    formControlName="rentDuration" id="rentDuration" name="rentDuration" bindLabel="label"
                    bindValue="id"></ng-select>
                  <div *ngIf="f.rentDuration.touched && f.rentDuration.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.rentDuration.errors?.required">
                      Rent Duration is required!
                    </div>
                  </div>
                </div>
                <div class="col "></div>
                <div class="col "></div>
                <div class="col "></div>
                <div class="col proxy-duration-col"></div>
                <div class="col proxy-duration-col"></div>
                <div class="col proxy-duration-col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col rent d-none">
                  <label class="form-col-form-label required-control-label" for="rentStartAt">Rent Start
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="rentStartAt" id="rentStartAt"
                    name="rentStartAt" class="form-control" placeholder="Rent Start Date" aria-label="Rent Start Date">
                  <div *ngIf="f.rentStartAt.touched && f.rentStartAt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.rentStartAt.errors?.required">
                      Rent Start Date is required.
                    </div>
                  </div>
                </div>
                <div class="col rent d-none">
                  <label class="form-col-form-label required-control-label" for="rentEndAt">Rent End
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="rentEndAt" id="rentEndAt" name="rentEndAt"
                    class="form-control" placeholder="Rent End Date" aria-label="Rent End Date">
                  <div *ngIf="f.rentEndAt.touched && f.rentEndAt.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.rentEndAt.errors?.required">
                      Rent End Date is required.
                    </div>
                    <div *ngIf="f.rentEndAt.errors?.mustGreaterThanStartDate">
                      Agreement End Date should be greater than today!
                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col proxy-rent"></div>
                <div class="col proxy-rent"></div>
              </div>
            </fieldset>
            <fieldset *ngIf="newEntity" class="border p-2">
              <legend class="w-auto">Approver</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approverUser1">Approver 1</label>
                  <ng-select [items]="approver1List" #approverUser1 (change)="approverUser1Populate($event)"
                    placeholder="-- Select Approver 1 --" formControlName="approverUser1" id="approverUser1"
                    name="approverUser1" bindLabel="fullName" bindValue="id"></ng-select>
                  <div *ngIf="f.approverUser1.touched && f.approverUser1.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.approverUser1.errors?.required">
                      Approver 1 is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1Name">Name</label>
                  <input type="text" [readonly]="true" formControlName="approver1Name" id="approver1Name"
                    name="approver1Name" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1Email">Email</label>
                  <input type="text" [readonly]="true" formControlName="approver1Email" id="approver1Email"
                    name="approver1Email" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver1contact">Contact</label>
                  <input type="text" [readonly]="true" formControlName="approver1contact" id="approver1contact"
                    name="approver1contact" class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approverUser2">Approver 2</label>
                  <ng-select [items]="approver1List" #approverUser2 (change)="approverUser2Populate($event)"
                    placeholder="-- Select Approver 2 --" formControlName="approverUser2" id="approverUser2"
                    name="approverUser2" bindLabel="fullName" bindValue="id"></ng-select>
                  <div *ngIf="f.approverUser2.touched && f.approverUser2.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.approverUser2.errors?.required">
                      Approver 2 is required!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2Name">Name</label>
                  <input type="text" [readonly]="true" formControlName="approver2Name" id="approver2Name"
                    name="approver2Name" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2Email">Email</label>
                  <input type="text" [readonly]="true" formControlName="approver2Email" id="approver2Email"
                    name="approver2Email" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="approver2contact">Contact</label>
                  <input type="text" [readonly]="true" formControlName="approver2contact" id="approver2contact"
                    name="approver2contact" class="form-control">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="card-footer">
            <button *ngIf="hasPermission('WRITE,APPROVE')" [disabled]="!angForm.valid" type="button"
              (click)="formSubmit()" class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>