<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Approve/Reject Order</strong>
        </div>
        <form [formGroup]="angForm" novalidate>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <tr>
                <td width="50%"><strong>For any Specific Department?</strong></td>
                <td>{{assetOrder.isDepartment==true? 'Yes' : 'No'}}</td>
              </tr>
              <tr *ngIf="assetOrder.department!=null">
                <td><strong>Department</strong></td>
                <td>{{assetOrder.department?.name}}</td>
              </tr>
              <tr *ngIf="assetOrder.location!=null">
                <td><strong>Organization</strong></td>
                <td>{{assetOrder.location?.officeName}}</td>
              </tr>
              <tr>
                <td><strong>Product Category</strong></td>
                <td>{{assetOrder.moduleName}}</td>
              </tr>
              <tr>
                <td><strong>Product Sub-Category</strong></td>
                <td>{{assetOrder.subModuleName}}</td>
              </tr>
              <tr>
                <td><strong>Model</strong></td>
                <td>{{assetOrder.model}}</td>
              </tr>
              <tr>
                <td><strong>Quantity</strong></td>
                <td>{{assetOrder.quantity}}</td>
              </tr>
              <tr>
                <td><strong>Cost Details</strong></td>
                <td>
                  <div *ngIf="assetOrder.withinBudget==true">
                    With In Budget: Yes<br />
                    Total Cost: {{assetOrder.currency}} {{assetOrder.totalAmount}}
                  </div>
                  <div *ngIf="assetOrder.withinBudget==false">
                    With In Budget: No<br />
                    Total Cost: {{assetOrder.currency}} {{assetOrder.totalAmount}}<br />
                    Available Budget Amount: {{assetOrder.currency}} {{assetOrder.limitAmount}}<br />
                    Additional Amount: {{assetOrder.currency}} {{assetOrder.extraAmount}}
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Vendor Names</strong></td>
                <td>{{assetOrder.vendor == null? 'Others' : assetOrder.vendor.name}}</td>
              </tr>
              <tr>
                <td><strong>Existing Agreement With Vendor</strong></td>
                <td>
                  {{assetOrder.existingAgreement==true? 'Yes' : 'No'}}<br />
                  <div *ngIf="assetOrder.existingAgreement==true&&assetOrder.agreementEndAt!=null">
                    Agreement End Date: {{formatDateTime(assetOrder.agreementEndAt)}}
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Purchase Type</strong></td>
                <td>
                  {{assetOrder.purchaseType}}{{assetOrder.rentDuration != null? '/' : ''}}{{assetOrder.rentDuration}}
                  <!-- <div *ngIf="assetOrder.purchaseType=='RENTED'">
                    Rent Start Date: {{formatDateTime(assetOrder.rentStartAt)}}<br />
                    Rent End Date: {{formatDateTime(assetOrder.rentEndAt)}}
                  </div> -->
                </td>
              </tr>
              <tr>
                <td><strong>Approver 1 Comments</strong></td>
                <td>
                  <div *ngIf="assetOrder.approverUser1Comment!=null">
                    {{assetOrder.approverUser1?.firstName}} {{assetOrder.approverUser1?.lastName}}<br />
                    {{assetOrder.approverUser1Comment==null? 'No Action Yet' : assetOrder.approvedUser1==true?
                    'Approved' : 'Rejected'}}
                  </div>
                  <div *ngIf="assetOrder.approverUser1Comment==null">
                    <textarea *ngIf="canApprove1" id="approverUser1Comment" rows="4"
                      class="form-control textarea-non-resizable" formControlName="approverUser1Comment"
                      id="approverUser1Comment" name="approverUser1Comment"
                      placeholder="Approver 1 Feedback"></textarea>
                    <div *ngIf="f.approverUser1Comment.touched && f.approverUser1Comment.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="f.approverUser1Comment.errors?.required">
                        Comment is required!
                      </div>
                    </div>
                  </div>
                  <div *ngIf="assetOrder.approverUser1Comment!=null">
                    {{assetOrder.approverUser1Comment}}
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Approver 2 Comments</strong></td>
                <td>
                  <div *ngIf="assetOrder.approverUser2Comment!=null">
                    {{assetOrder.approverUser2?.firstName}} {{assetOrder.approverUser2?.lastName}}<br />
                    {{assetOrder.approverUser2Comment==null? 'No Action Yet' : assetOrder.approvedUser2==true?
                    'Approved' : 'Rejected'}}
                  </div>
                  <div *ngIf="assetOrder.approverUser2Comment==null">
                    <textarea *ngIf="canApprove2" id="approverUser2Comment" rows="4"
                      class="form-control textarea-non-resizable" formControlName="approverUser2Comment"
                      id="approverUser2Comment" name="approverUser2Comment"
                      placeholder="Approver 2 Feedback"></textarea>
                    <div *ngIf="f.approverUser2Comment.touched && f.approverUser2Comment.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="f.approverUser2Comment.errors?.required">
                        Comment is required!
                      </div>
                    </div>
                  </div>
                  <div *ngIf="assetOrder.approverUser2Comment!=null">
                    {{assetOrder.approverUser2Comment}}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-footer">
            <button *ngIf="(canApprove1 || canApprove2) && hasPermission('APPROVE')" [disabled]="!angForm.valid"
              type="button" (click)="formSubmit('APPROVE')" class="btn btn-primary">Approve</button>
            <button *ngIf="(canApprove1 || canApprove2) && hasPermission('APPROVE')" [disabled]="!angForm.valid"
              type="button" (click)="formSubmit('REJECT')" class="btn btn-danger">Reject</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>