<div class="main-section">
    <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 first-section">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6 left-first-section" id="chat-box-title">
                    <p><i class="fa fa-comments-o"></i> Chat</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
                    <a href="javascript:void(0);" id="share-screen"><i class="fa fa-share" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" id="minimize-chat"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    <!-- <a href="javascript:void(0);"><i class="fa fa-clone" aria-hidden="true"></i></a> -->
                    <!-- <a href="javascript:void(0);" id="close-chat"><i class="fa fa-times" aria-hidden="true"></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 second-section">
            <div class="chat-section">
                <ul>
                    <li>
                        <div class="left-chat">
                            <img src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.
                            </p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="right-chat">
                            <img class="border" src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="left-chat">
                            <img src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="right-chat">
                            <img class="border" src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="left-chat">
                            <img src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="right-chat">
                            <img class="border" src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="left-chat">
                            <img src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                    <li>
                        <div class="right-chat">
                            <img class="border" src="assets/img/avatars/user.jpg">
                            <p>Lorem ipsum dolor sit ameeserunt.</p>
                            <span>2 min</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 third-section">
            <div class="text-bar">
                
                <input type="text" placeholder="Write messege"><a href="#"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- <input type="checkbox" id="check">
<label class="chat-btn" for="check">
    <i class="fa fa-commenting-o comment"></i>
    <i class="fa fa-close close"></i>
</label> -->