.td-date {
  text-align: center;
  border: 0;
  user-select: none;
}

.td-time {
  text-align: center;
  border: 0;
  user-select: none;
}

.time-entries {
  overflow-x: auto;
  white-space: nowrap;
}