<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="angForm" (ngSubmit)="formSubmit()" novalidate>
                  <h1>Reset Password!</h1>
                  <p class="text-muted">Provide new password to reset!</p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" class="form-control" id="password" ngModel
                      name="password" placeholder="New Password" autocomplete="current-password" required>
                  </div>
                  <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors?.required">
                      Password is required.
                    </div>
                    <div *ngIf="f.password.errors?.pattern">
                      Password should be 8 character long, with at least a special character, upper & lower case letters
                      and a number.
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
                      ngModel name="confirmPassword" placeholder="Confirm New Password" autocomplete="current-password"
                      required>
                  </div>
                  <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="f.confirmPassword.errors?.required">
                      Confirm Password is required.
                    </div>
                    <div *ngIf="f.confirmPassword.errors?.pattern">
                      Password should be 8 character long, with at least a special character, upper & lower case letters
                      and a number.
                    </div>
                    <div *ngIf="f.confirmPassword.errors?.mustMatch">
                      Password & Confirm Password should match!
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="!angForm.valid" type="submit" class="btn btn-primary px-4">Reset</button>
                    </div>
                    <div class="col-6 text-right">
                      <a [routerLink]="['/sign-in']" class="btn btn-link px-0">Already have an account? Sign In!</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>