<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" *ngIf="newEntity">
          <strong>Add Organization</strong>
        </div>
        <div class="card-header" *ngIf="!newEntity">
          <strong>Edit Organization</strong>
        </div>
        <form [formGroup]="angForm" (ngSubmit)="formSubmit()" novalidate>
          <div class="card-body">
            <fieldset class="border p-2">
              <legend class="w-auto">Organization</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="name">Name</label>
                  <input type="text" formControlName="name" id="name" name="name" class="form-control"
                    placeholder="Organization Name" aria-label="Organization Name">
                  <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.name.errors?.required">
                      Organization Name is required.
                    </div>
                    <div *ngIf="f.name.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="add1">Address Line 1</label>
                  <input type="text" formControlName="add1" id="add1" name="add1" class="form-control"
                    placeholder="Address Line 1" aria-label="Address Line 1">
                  <div *ngIf="f.add1.touched && f.add1.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.add1.errors?.required">
                      Addr1 is required.
                    </div>
                    <div *ngIf="f.add1.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="add2">Address Line 2</label>
                  <input type="text" formControlName="add2" id="add2" name="add2" class="form-control"
                    placeholder="Address Line 2" aria-label="Address Line 2 ">
                  <div *ngIf="f.add2.touched && f.add2.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.add2.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="city">City</label>
                  <input type="text" formControlName="city" id="city" name="city" class="form-control"
                    placeholder="City" aria-label="City">
                  <div *ngIf="f.city.touched && f.city.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.city.errors?.required">
                      City is required.
                    </div>
                    <div *ngIf="f.city.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="pincode">Pincode</label>
                  <input type="text" formControlName="pincode" id="pincode" name="pincode" class="form-control"
                    placeholder="Pincode" aria-label="Pincode">
                  <div *ngIf="f.pincode.touched && f.pincode.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.pincode.errors?.required">
                      Pincode is required.
                    </div>
                    <div *ngIf="f.pincode.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="pan">PAN</label>
                  <input oninput="this.value = this.value.toUpperCase()" type="text" formControlName="pan" id="pan"
                    name="pan" class="form-control" placeholder="Pan" aria-label="Pan">
                  <div *ngIf="f.pan.touched && f.pan.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.pan.errors?.required">
                      Pan is required.
                    </div>
                    <div *ngIf="f.pan.errors?.pattern">
                      Invalid PAN No.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="tan">TAN</label>
                  <input oninput="this.value = this.value.toUpperCase()" type="text" formControlName="tan" id="tan"
                    name="tan" class="form-control" placeholder="Tan" aria-label="Tan">
                  <div *ngIf="f.tan.touched && f.tan.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.tan.errors?.required">
                      Tan is required.
                    </div>
                    <div *ngIf="f.tan.errors?.pattern">
                      Invalid TAN No.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="gstin">GSTIN</label>
                  <input oninput="this.value = this.value.toUpperCase()" type="text" formControlName="gstin" id="gstin"
                    name="gstin" class="form-control" placeholder="Gstin" aria-label="Gstin">
                  <div *ngIf="f.gstin.touched && f.gstin.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.gstin.errors?.required">
                      Gstin is required.
                    </div>
                    <div *ngIf="f.gstin.errors?.pattern">
                      Invalid GSTIN No.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="licenseType">License Type</label>
                  <ng-select [items]="licenseTypes" placeholder="-- Select License Type --"
                    formControlName="licenseType" id="licenseType" licenseType name="licenseType" bindLabel="label"
                    bindValue="value">
                  </ng-select>
                  <div *ngIf="f.licenseType.touched && f.licenseType.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.licenseType.errors?.required">
                      License Type is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="licenseStart">License Start
                    Date</label>
                  <input type="date" format="DD-MM-YYYY" formControlName="licenseStart" id="licenseStart"
                    name="licenseStart" class="form-control" placeholder="License Start" aria-label="License Start">
                  <div *ngIf="f.licenseStart.touched && f.licenseStart.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.licenseStart.errors?.required">
                      License Start Date is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="licenseEnd">License End Date</label>
                  <input type="date" formControlName="licenseEnd" id="licenseEnd" name="licenseEnd" class="form-control"
                    placeholder="License End" aria-label="License End">
                  <div *ngIf="f.licenseEnd.touched && f.licenseEnd.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.licenseEnd.errors?.required">
                      License End Date is required.
                    </div>
                    <div *ngIf="f.licenseEnd.errors?.mustGreaterThanStartDate">
                      End date should be greater than Start Date!
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="status">Status</label>
                  <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1" id="inline-radios">
                      <input class="form-check-input" type="radio" #active (change)="onChange(true, 'ACTIVE')"
                        name="status" id="ACTIVE" [checked]="(org.status == 'ACTIVE')" value="true">
                      <label class="form-check-label" for="ACTIVE">Active</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="status" id="INACTIVE"
                        [checked]="(org.status == 'INACTIVE')" #inactive (change)="onChange(false, 'INACTIVE')"
                        value="false">
                      <label class="form-check-label" for="INACTIVE">Inactive</label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="border p-2">
              <legend class="w-auto">Key Person</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="keyPersonName1">Key Person Name
                    1</label>
                  <input type="text" formControlName="keyPersonName1" id="keyPersonName1" name="keyPersonName1"
                    class="form-control" placeholder="Key Person Name 1" aria-label="Key Person Name 1">
                  <div *ngIf="f.keyPersonName1.touched && f.keyPersonName1.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonName1.errors?.required">
                      Key Person Name 1 is required.
                    </div>
                    <div *ngIf="f.keyPersonName1.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="keyPersonEmail1">Key Person Email
                    1</label>
                  <input type="text" formControlName="keyPersonEmail1" id="keyPersonEmail1" name="keyPersonEmail1"
                    class="form-control" placeholder="Key Person Email 1" aria-label="Key Person Email 1">
                  <div *ngIf="f.keyPersonEmail1.touched && f.keyPersonEmail1.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonEmail1.errors?.required">
                      Key Person Email 1 is required.
                    </div>
                    <div *ngIf="f.keyPersonEmail1.errors?.email">
                      Invalid input! Only email allowed.
                    </div>
                    <div *ngIf="f.keyPersonEmail1.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="keyPersonContact1">Key Person Contact
                    1</label>
                  <input type="text" formControlName="keyPersonContact1" id="keyPersonContact1" name="keyPersonContact1"
                    class="form-control" placeholder="Key Person Contact 1" aria-label="Key Person Contact 1">
                  <div *ngIf="f.keyPersonContact1.touched && f.keyPersonContact1.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonContact1.errors?.required">
                      Key Person Contact 1 is required.
                    </div>
                    <div *ngIf="f.keyPersonContact1.errors?.pattern">
                      Invalid input! Only phone numbers allowed.
                    </div>
                    <div *ngIf="f.keyPersonContact1.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label " for="keyPersonName2">Key Person Name 2</label>
                  <input type="text" formControlName="keyPersonName2" id="keyPersonName2" name="keyPersonName2"
                    class="form-control" placeholder="Key Person Name 2" aria-label="Key Person Name 2">
                  <div *ngIf="f.keyPersonName2.touched && f.keyPersonName2.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonName2.errors?.required">
                      Key Person Name 2 is required.
                    </div>
                    <div *ngIf="f.keyPersonName2.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="keyPersonEmail2">Key Person Email 2</label>
                  <input type="text" formControlName="keyPersonEmail2" id="keyPersonEmail2" name="keyPersonEmail2"
                    class="form-control" placeholder="Key Person Email 2" aria-label="Key Person Email 2">
                  <div *ngIf="f.keyPersonEmail2.touched && f.keyPersonEmail2.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonEmail2.errors?.required">
                      Key Person Email 2 is required.
                    </div>
                    <div *ngIf="f.keyPersonEmail2.errors?.email">
                      Invalid input! Only email allowed.
                    </div>
                    <div *ngIf="f.keyPersonEmail2.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="keyPersonContact2">Key Person Contact 2</label>
                  <input type="text" formControlName="keyPersonContact2" id="keyPersonContact2" name="keyPersonContact2"
                    class="form-control" placeholder="Key Person Contact 2" aria-label="Key Person Contact 2">
                  <div *ngIf="f.keyPersonContact2.touched && f.keyPersonContact2.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.keyPersonContact2.errors?.required">
                      Key Person Contact 2 is required.
                    </div>
                    <div *ngIf="f.keyPersonContact2.errors?.pattern">
                      Invalid input! Only phone numbers allowed.
                    </div>
                    <div *ngIf="f.keyPersonContact2.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset *ngIf="newEntity" class="border p-2">
              <legend class="w-auto">User</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="firstName">First Name</label>
                  <input type="text" formControlName="firstName" id="firstName" name="firstName" class="form-control"
                    placeholder="First name" aria-label="First name">
                  <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.firstName.errors?.required">
                      First Name is required.
                    </div>
                    <div *ngIf="f.firstName.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="lastName">Last Name</label>
                  <input type="text" formControlName="lastName" id="lastName" name="lastName" class="form-control"
                    placeholder="Last name" aria-label="Last name">
                  <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.lastName.errors?.required">
                      Last Name is required.
                    </div>
                    <div *ngIf="f.lastName.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="email">Email</label>
                  <input type="text" formControlName="email" id="email" name="email" class="form-control"
                    placeholder="Last name" aria-label="Last name">
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.email.errors?.required">
                      Email is required.
                    </div>
                    <div *ngIf="f.email.errors?.email">
                      Invalid input! Only email allowed.
                    </div>
                    <div *ngIf="f.email.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="contactNo">Contact No.</label>
                  <input type="text" formControlName="contactNo" id="contactNo" name="contactNo" class="form-control"
                    placeholder="Contact No." aria-label="Contact No.">
                  <div *ngIf="f.contactNo.touched && f.contactNo.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.contactNo.errors?.required">
                      Contact No. is required.
                    </div>
                    <div *ngIf="f.contactNo.errors?.pattern">
                      Invalid input! Only phone numbers allowed.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="secContactNo"> Secondary Contact No.</label>
                  <input type="text" formControlName="secContactNo" id="secContactNo" name="secContactNo"
                    class="form-control" placeholder="Secondary Contact No." aria-label="Secondary Contact No.">
                  <div *ngIf="f.secContactNo.touched && f.secContactNo.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.secContactNo.errors?.pattern">
                      Invalid input! Only phone numbers allowed.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div class="row row-margin-05 d-none">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="employeeId">Employee Id.</label>
                  <input type="text" formControlName="employeeId" id="employeeId" name="employeeId" class="form-control"
                    placeholder="Employee Id." aria-label="Employee Id.">
                  <div *ngIf="f.employeeId.touched && f.employeeId.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.employeeId.errors?.required">
                      Employee Id. is required.
                    </div>
                    <div *ngIf="f.employeeId.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="projectCode">Project Code</label>
                  <input type="text" formControlName="projectCode" id="projectCode" name="projectCode"
                    class="form-control" placeholder="Project Code" aria-label="Project Code">
                  <div *ngIf="f.projectCode.touched && f.projectCode.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.projectCode.errors?.required">
                      Project Code is required.
                    </div>
                    <div *ngIf="f.projectCode.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="department">Department</label>
                  <select class="form-control select2-single" formControlName="department" id="department"
                    name="department">
                    <option value="">-- Select Department --</option>
                    <option *ngFor="let e of departments" value="{{e.id}}__{{e.version}}">{{e.name}}</option>
                  </select>
                  <div *ngIf="f.department.touched && f.department.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.department.errors?.required">
                      Department is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="location">Location</label>
                  <select class="form-control select2-single" formControlName="location" id="location" name="location">
                    <option value="">-- Select Location --</option>
                    <option *ngFor="let e of locations" value="{{e.id}}__{{e.version}}">{{e.name}}</option>
                  </select>
                  <div *ngIf="f.location.touched && f.location.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.location.errors?.required">
                      Location is required.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </fieldset>
          </div>
          <div class="card-footer">
            <button *ngIf="hasPermission('WRITE')" [disabled]="!angForm.valid" type="submit"
              class="btn btn-primary">Save</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>