<div class="animated fadeIn">
  <tabset>
    <tab *ngIf="hasUserRole()" (selectTab)="loadUserData()" heading="User">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-user" class="row-margin-05">

            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of user2ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasUserChart3Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart3($event)" [colors]="userChart3Colors" [data]="userChart3Data"
                    [labels]="userChart3Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>

            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of user3ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasUserChart4Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart4($event)" [colors]="userChart4Colors" [data]="userChart4Data"
                    [labels]="userChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="hasAgentRole()" (selectTab)="loadAgentData()" heading="Agent">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-agent" class="row-margin-05">

            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Priority</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent4ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart5Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart5($event)" [colors]="agentChart5Colors" [data]="agentChart5Data"
                    [labels]="agentChart5Labels" [chartType]="chartType" [options]="chartOptions"
                    [legend]="true"></canvas>
                </div>
              </div>
            </div>

            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Category</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent3ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart4Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart4($event)" [colors]="agentChart4Colors" [data]="agentChart4Data"
                    [labels]="agentChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>

            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Status</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent5ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart6Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart6($event)" [colors]="agentChart6Colors" [data]="agentChart6Data"
                    [labels]="agentChart6Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>