<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <tabset>
        <tab *ngIf="isConsultant()" heading="UAT Script and Manual Upload">
          <div class="card">
            <div class="alert alert-success" role="alert" data-dismiss="alert" *ngIf="uploadSuccess">
              <h6>UAT Script and Manual are uploaded successfully.</h6>
            </div>
            <form [formGroup]="angForm" (ngSubmit)="uploadUatScript()" novalidate>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="technology">Technology</label>
                    <ng-select #technology (change)="populateModule($event)" [items]="technologyList"
                      placeholder="-- Select Technology --" formControlName="technology" id="technology" technology
                      name="technology" bindLabel="value" bindValue="key">
                    </ng-select>
                    <div *ngIf="f.technology.touched && f.technology.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.technology.errors?.required">
                        Technology is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="moduleId">Module</label>
                    <ng-select #moduleId (change)="populateSubmodule($event)" [items]="moduleList"
                      placeholder="-- Select Module --" formControlName="moduleId" id="moduleId" moduleId
                      name="moduleId" bindLabel="customerModuleName" bindValue="id">
                    </ng-select>
                    <div *ngIf="f.moduleId.touched && f.moduleId.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.moduleId.errors?.required">
                        Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="subModuleId">Sub
                      Module</label>
                    <ng-select #subModuleId (change)="populateProject($event)" [items]="subModuleList"
                      placeholder="-- Select Sub Module --" formControlName="subModuleId" id="subModuleId" subModuleId
                      name="subModuleId" bindLabel="customerModuleName" bindValue="id"></ng-select>
                    <div *ngIf="f.subModuleId.touched && f.subModuleId.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.subModuleId.errors?.required">
                        Sub Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="project">Project</label>
                    <ng-select [items]="projectList" placeholder="-- Select Project --" formControlName="project"
                      id="project" project name="project" bindLabel="label" bindValue="id">
                    </ng-select>
                    <div *ngIf="f.project.touched && f.project.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.project.errors?.required">
                        Project is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row row-margin-05 row-margin-bottom-20">
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="uatScript">UAT Scripts </label>
                    <i class="icon-info"
                      tooltip="Max file size can be 10 M.B and suported file types are xslx"></i>&nbsp;&nbsp;
                    <input #uatScript (change)="getUatScriptFileDetails($event)" type="file" id="uatScript"
                      formControlName="uatScript" name="uatScript">
                    <div *ngIf="f.uatScript.touched && f.uatScript.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.uatScript.errors?.validAttachments">
                        Supported file format is <b>.xslx</b> only
                      </div>
                      <div *ngIf="f.uatScript.errors?.mustBeLessThan10MB">
                        File size should be less than 10 MB.
                      </div>
                    </div>
                    <div>
                      <a class="btn btn-link " style="font-size: small" href="assets/downloads/uat-scripts.xlsx">
                        <i class="icon-arrow-down-circle"></i>
                        Download Sample UAT Script Template
                      </a>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="uatManual">UAT Manual </label>
                    <i class="icon-info"
                      tooltip="Max file size can be 20 M.B and suported file types are pdf/doc/docx/zip/rar"></i>&nbsp;&nbsp;
                    <input #uatManual (change)="getUatManualFileDetails($event)" type="file" id="uatManual"
                      formControlName="uatManual" name="uatManual">
                    <div *ngIf="f.uatManual.touched && f.uatManual.invalid" class="alert alert-danger-custom">
                      <div *ngIf="f.uatManual.errors?.validAttachments">
                        Supported file types are <b>pdf/doc/docx/zip/rar</b>.
                      </div>
                      <div *ngIf="f.uatManual.errors?.mustBeLessThan20MB">
                        File size should be less than 20 MB.
                      </div>
                    </div>
                  </div>
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" [disabled]="!angForm.valid" class="btn btn-primary btn-sm">
                  Save
                </button>
                <button type="button" (click)="resetUploadForm()" class="btn btn-danger btn-sm">
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <hr />
          <div class="card">
            <table class="table table-striped" mat-table [dataSource]="projectUatDataSource">
              <ng-container matColumnDef="technology">
                <th mat-header-cell *matHeaderCellDef> Technology </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{element.technology}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="module">
                <th mat-header-cell *matHeaderCellDef> Module</th>
                <td mat-cell *matCellDef="let element">
                  {{element.moduleName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="subModule">
                <th mat-header-cell *matHeaderCellDef> Sub Module </th>
                <td mat-cell *matCellDef="let element">
                  {{element.subModuleName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef> Project </th>
                <td mat-cell *matCellDef="let element">
                  {{element.project.name}} [{{element.project.code}}]
                </td>
              </ng-container>
              <ng-container matColumnDef="uatScript">
                <th mat-header-cell *matHeaderCellDef> UAT Script File </th>
                <td mat-cell *matCellDef="let element">
                  <span class="actionable-span"
                    (click)="downloadFile(element.uatScript.id, element.uatScript.fileName)">{{element.uatScript.fileName}}&nbsp;&nbsp;</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="uatManual">
                <th mat-header-cell *matHeaderCellDef>
                  UAT Manual File
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="actionable-span"
                    (click)="downloadFile(element.uatManual.id, element.uatManual.fileName)">{{element.uatManual.fileName}}&nbsp;&nbsp;</span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="projectUatDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let even = even; columns: projectUatDisplayedColumns;"
                [ngClass]="{gray: even}">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" align="center" colspan="9999">
                  No data found!
                </td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" #projectUatPaginator [pageSize]="10"></mat-paginator>
          </div>
        </tab>
        <tab *ngIf="isConsultant()||isCustomer()" heading="UAT Communications">
          <div class="card">
            <form [formGroup]="uatCommunicationSearchForm" (ngSubmit)="uatCommunicationSearchFormSubmit()" novalidate>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchTechnology">Technology</label>
                    <ng-select #searchTechnology (change)="populateSearchModule($event)" [items]="technologyList"
                      placeholder="-- Select Technology --" formControlName="searchTechnology" id="searchTechnology"
                      searchTechnology name="searchTechnology" bindLabel="value" bindValue="key">
                    </ng-select>
                    <div *ngIf="sf.searchTechnology.touched && sf.searchTechnology.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchTechnology.errors?.required">
                        Technology is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchModuleId">Module</label>
                    <ng-select #searchModuleId (change)="populateSearchSubmodule($event)" [items]="moduleList"
                      placeholder="-- Select Module --" formControlName="searchModuleId" id="searchModuleId"
                      searchModuleId name="searchModuleId" bindLabel="customerModuleName" bindValue="id">
                    </ng-select>
                    <div *ngIf="sf.searchModuleId.touched && sf.searchModuleId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchModuleId.errors?.required">
                        Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchSubModuleId">Sub
                      Module</label>
                    <ng-select [items]="searchSubModuleList" #searchSubModuleId (change)="populateSearchProject($event)"
                      placeholder="-- Select Sub Module --" formControlName="searchSubModuleId" id="searchSubModuleId"
                      searchSubModuleId name="searchSubModuleId" bindLabel="customerModuleName"
                      bindValue="id"></ng-select>
                    <div *ngIf="sf.searchSubModuleId.touched && sf.searchSubModuleId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchSubModuleId.errors?.required">
                        Sub Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchProject">Project</label>
                    <ng-select [items]="projectList" #searchProject (change)="populateProjectUat($event)"
                      placeholder="-- Select Project --" formControlName="searchProject" id="searchProject"
                      searchProject name="searchProject" bindLabel="label" bindValue="id">
                    </ng-select>
                    <div *ngIf="sf.searchProject.touched && sf.searchProject.invalid" class="alert alert-danger-custom">
                      <div *ngIf="sf.searchProject.errors?.required">
                        Project is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchUatProjectId">UAT File</label>
                    <ng-select [items]="projectUats" #searchUatProjectId (change)="populateProjectUATScript($event)"
                      placeholder="-- Select Project UAT --" formControlName="searchUatProjectId"
                      id="searchUatProjectId" searchUatProjectId name="searchUatProjectId" bindLabel="label"
                      bindValue="id"></ng-select>
                    <div *ngIf="sf.searchUatProjectId.touched && sf.searchUatProjectId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchUatProjectId.errors?.required">
                        Project UAT File is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchUatProjectScriptId">UAT
                      Script</label>
                    <ng-select [items]="projectUatScriptList" #searchUatProjectScriptId
                      (change)="searchUatCommunication($event)" placeholder="-- Select Project UAT Script --"
                      formControlName="searchUatProjectScriptId" id="searchUatProjectScriptId" searchUatProjectScriptId
                      name="searchUatProjectScriptId" bindLabel="label" bindValue="id"></ng-select>
                    <div *ngIf="sf.searchUatProjectScriptId.touched && sf.searchUatProjectScriptId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchUatProjectScriptId.errors?.required">
                        Project UAT Script is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <hr />
          <div class="card" [ngClass]="{'d-none': searched == false}">
            <div class="card-body">
              <div class="row row-margin-10" *ngIf="projectUatScript!=null">
                <div class="col">
                  <label class="form-col-form-label " for="testCaseId"><u><b>Test Case Id</b></u> :
                    {{projectUatScript?.testCaseId}}</label>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="testScenario"><b><u>Test Scenario</u></b> :
                    {{projectUatScript?.testScenario}}</label>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="testCaseDescription"><b><u>Test Case Description</u></b> :
                    {{projectUatScript?.testCaseDescription}}</label>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="testScriptName"><b><u>Test Script Name</u></b> :
                    {{projectUatScript?.testScriptName}}</label>
                </div>
                <div class="col">
                  <label class="form-col-form-label " for="testScriptManual"><b><u>Test Script Manual</u></b> :
                    <span class="actionable-span"
                      (click)="downloadFile(projectUatScript?.uatManual?.id, projectUatScript?.uatManual?.fileName)">{{projectUatScript?.uatManual?.fileName}}&nbsp;&nbsp;</span>
                  </label>
                </div>
              </div>
              <table mat-table class="table table-striped script-table" [dataSource]="projectUatScriptDetailSource">
                <ng-container matColumnDef="uatDescription">
                  <th class="uatDescriptionHeader" mat-header-cell *matHeaderCellDef> UAT Description </th>
                  <td class="uatDescriptionBody" mat-cell *matCellDef="let element">
                    <div>
                      <b><u>Step</u> - </b> {{element.step}}
                    </div>
                    <hr />
                    <div>
                      <b><u>Action</u> - </b> {{element.action}}
                    </div>
                    <hr />
                    <div>
                      <b><u>Expected Result</u> - </b> {{element.expectedResult}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actualResultDetail">
                  <th class="actualResultHeader" mat-header-cell *matHeaderCellDef> Test Details</th>
                  <td class="actualResultBody" mat-cell *matCellDef="let element">
                    <div *ngIf="resultNotEditable(element); else editingTemplate">
                      <div><b><u>Actual Result</u> - </b>{{element.actualResult==null? 'NA' : element.actualResult}}
                      </div>
                      <hr />
                      <div><b><u>Test Passed</u> - </b>{{element.pass==true? 'Yes' : 'No'}}</div>
                    </div>
                    <ng-template #editingTemplate>
                      <!-- <textarea class="form-control" [(ngModel)]='element.actualResult' placeholder="Actual Result"
                        rows="7" cols="30">
                      </textarea> -->

                      <ng-select [items]="testResultList" #testResult (change)="triggerPassFail($event,element)"
                        placeholder="-- Select Result --" [(ngModel)]='element.actualResult' bindLabel="label"
                        bindValue="id"></ng-select>


                      <hr />
                      <ng-select [items]="statusList" placeholder="-- Select Result Status --"
                        [(ngModel)]='element.pass' bindLabel="label" bindValue="id"></ng-select>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="retestDetail">
                  <th class="retestDetailHeader" mat-header-cell *matHeaderCellDef> Retest Details </th>
                  <td class="retestDetailBody" mat-cell *matCellDef="let element">
                    <div *ngIf="retestNotEditable(element); else editingTemplate">
                      <div><b><u>Re-test Date </u> - </b>{{element.retestDate==null? 'NA' : element.retestDate}}</div>
                      <hr />
                      <div><b><u>Re-Test Passed</u> - </b>{{element.retestPass==true? 'Yes' : 'No'}}</div>
                    </div>
                    <ng-template #editingTemplate>
                      <input type="date" format="DD-MM-YYYY" class="form-control" placeholder="Retest Date"
                        [(ngModel)]="element.retestDate">
                      <hr />
                      <ng-select [items]="statusList" placeholder="-- Select Result Status --"
                        [(ngModel)]='element.retestPass' bindLabel="label" bindValue="id"></ng-select>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="remarks">
                  <th class="remarksHeader" mat-header-cell *matHeaderCellDef> Remarks </th>
                  <td class="remarksBody" align="center" mat-cell *matCellDef="let element">
                    <div *ngIf="!element.editable; else editingTemplate">
                      <div *ngIf="element.remarks!=null">
                        <button type=" button" class="btn btn-link" (click)="viewRemark(element)">Remarks</button>
                      </div>
                    </div>
                    <ng-template #editingTemplate>
                      <textarea class="form-control"
                        style="box-sizing: border-box; border: 2px solid black; border-radius: 4px;"
                        [(ngModel)]='element.remark' placeholder="Remarks" rows="7" cols="30">
                      </textarea>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container *ngIf="!searchedUatScriptComplete" matColumnDef="activity">
                  <th align="center" class="activityHeader" mat-header-cell *matHeaderCellDef>
                    <div *ngIf="searchedUatScriptId!=null&&isCustomer()&&uatScriptCanBeMarkedComplete">
                      <button type=" button" class="btn btn-warning btn-sm"
                        (click)="markProjectUatScriptTestComplate()">Mark UAT Script
                        Complete</button>
                    </div>
                  </th>
                  <td align="center" class="activityBody" mat-cell *matCellDef="let element">
                    <div *ngIf="element.previousStepPassed">
                      <a *ngIf="!element.editable" href="javascript:void(0);" id="id-view-{{element.id}}" type="button"
                        [ngClass]="{'btn btn-sm btn-secondary':true}" (click)="enableEdit(element)"><i
                          class="fa fa-pencil"></i> Edit
                      </a>
                    </div>
                    <div *ngIf="element.previousStepPassed">
                      <a *ngIf="element.editable" href="javascript:void(0);" id="id-save-{{element.id}}" [ngClass]="{
                        'btn btn-sm btn-secondary':true}" (click)="saveElement(element)"><i class="fa fa-book "></i>
                        Save
                      </a>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="projectUatScriptDetailDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: projectUatScriptDetailDisplayedColumns;"
                  [ngClass]="{gray: even}">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" align="center" colspan="9999">
                    No data found!
                  </td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" #projectUatScriptDetailPaginator
                [pageSize]="10"></mat-paginator>
            </div>
          </div>
        </tab>
        <tab *ngIf="isCustomer()" heading="Project UAT Activities">
          <div class="card">
            <form [formGroup]="angUatCycleSearchForm" (ngSubmit)="searchUatCycle()" novalidate>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <label class="form-col-form-label required-control-label"
                      for="searchUatCycleTechnology">Technology</label>
                    <ng-select #searchUatCycleTechnology (change)="populateSearchUatCycleModule($event)"
                      [items]="technologyList" placeholder="-- Select Technology --"
                      formControlName="searchUatCycleTechnology" id="searchUatCycleTechnology" searchUatCycleTechnology
                      name="searchUatCycleTechnology" bindLabel="value" bindValue="key">
                    </ng-select>
                    <div *ngIf="sf.searchTechnology.touched && sf.searchTechnology.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="sf.searchTechnology.errors?.required">
                        Technology is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label"
                      for="searchUatCycleModuleId">Module</label>
                    <ng-select #searchUatCycleModuleId (change)="uatCyclePopulateSubmodule($event)" [items]="moduleList"
                      placeholder="-- Select Module --" formControlName="searchUatCycleModuleId"
                      id="searchUatCycleModuleId" searchModuleId name="searchUatCycleModuleId"
                      bindLabel="customerModuleName" bindValue="id">
                    </ng-select>
                    <div *ngIf="suf.searchUatCycleModuleId.touched && suf.searchUatCycleModuleId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="suf.searchUatCycleModuleId.errors?.required">
                        Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchUatCycleSubModuleId">Sub
                      Module</label>
                    <ng-select [items]="searchSubModuleList" #searchUatCycleSubModuleId
                      (change)="uatCyclePopulateProjectUAT($event)" placeholder="-- Select Sub Module --"
                      formControlName="searchUatCycleSubModuleId" id="searchUatCycleSubModuleId"
                      searchUatCycleSubModuleId name="searchUatCycleSubModuleId" bindLabel="customerModuleName"
                      bindValue="id"></ng-select>
                    <div *ngIf="suf.searchUatCycleSubModuleId.touched && suf.searchUatCycleSubModuleId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="suf.searchUatCycleSubModuleId.errors?.required">
                        Sub Module is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label"
                      for="searchUatCycleProject">Project</label>
                    <ng-select [items]="projectList" #searchUatCycleProject
                      (change)="uatCycleProjectModifyAction($event)" placeholder="-- Select Project --"
                      formControlName="searchUatCycleProject" id="searchUatCycleProject" searchProject
                      name="searchUatCycleProject" bindLabel="label" bindValue="id">
                    </ng-select>
                    <div *ngIf="suf.searchUatCycleProject.touched && suf.searchUatCycleProject.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="suf.searchUatCycleProject.errors?.required">
                        Project is required.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label class="form-col-form-label required-control-label" for="searchUatCycleProjectId">UAT
                      File</label>
                    <ng-select [items]="projectUats" placeholder="-- Select Project UAT --" #searchUatCycleProjectId
                      (change)="uatCycleProjectIdModifyAction($event)" formControlName="searchUatCycleProjectId"
                      id="searchUatCycleProjectId" searchUatCycleProjectId name="searchUatCycleProjectId"
                      bindLabel="label" bindValue="id"></ng-select>
                    <div *ngIf="suf.searchUatCycleProjectId.touched && suf.searchUatCycleProjectId.invalid"
                      class="alert alert-danger-custom">
                      <div *ngIf="suf.searchUatCycleProjectId.errors?.required">
                        Project UAT File is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <button (click)="markUatCycleComplete()"
                    *ngIf="searchedUatCycle&&!isUatCycleComplete()&&canMarkComplete()" type="button"
                    class="btn btn-sm btn-secondary">Mark Uat Complete</button>
                </div>
              </div>
            </form>
            <hr />
            <div class="card">
              <table class="table-bordered" mat-table class="script-table" [dataSource]="projectUatScriptDataSource">
                <!-- <ng-container matColumnDef="select">
                  <th style="text-align: left;" mat-header-cell *matHeaderCellDef>
                    <input id="select-all" type="checkbox" (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <input id="select-{{row.id}}" type="checkbox" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)||row.uatComplete">
                  </td>
                </ng-container> -->
                <ng-container matColumnDef="testCaseId">
                  <th mat-header-cell *matHeaderCellDef> Test Case Id </th>
                  <td mat-cell *matCellDef="let element">
                    <span [ngClass]="{
                      'badge':true
                      }">{{element.testCaseId}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="testCaseDescription">
                  <th mat-header-cell *matHeaderCellDef> Test Case Description</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.testCaseDescription}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>
                    Status
                  </th>
                  <td align="center" mat-cell *matCellDef="let element">
                    <span [ngClass]="{
                    'badge-closed': element.status =='Completed',                      
                    'badge-sla-breached': element.status =='Not Started',   
                    'badge-sla-about-to-breach' : element.status =='In Progress',                     
                    'badge':true
                    }">{{element.status}}</span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="projectUatScriptDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: projectUatScriptDisplayedColumns;"
                  [ngClass]="{gray: even}">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" align="center" colspan="9999">
                    No data found!
                  </td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" #projectUatScriptPaginator
                [pageSize]="10"></mat-paginator>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>