.row-margin-05 {
    margin-top: 2.0em;
}

.script-table th.uatDescriptionHeader {
    width: 22.5%;
}

.script-table tr td .uatDescriptionBody {
    width: 22.5%;
}

.script-table th.actualResultHeader {
    width: 22.5%;
}

.script-table tr td .actualResultBody {
    width: 22.5%;
}

.script-table th.activityHeader {
    width: 10%;
}

.script-table tr td .activityBody {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.script-table th.remarksHeader {
    width: 22.5%;
}

.script-table tr td .remarksBody {
    width: 22.5%;
    text-align: center;
    vertical-align: middle;
}

.script-table th.retestDetailHeader {
    width: 22.5%;
}

.script-table tr td .retestDetailBody {
    width: 22.5%;
}

.script-table tr th {
    text-align: center;
    vertical-align: middle;
}

.sample-uat-script-download-btn{
    color: white; font-weight: bold;
}

.selection-header{
    text-align: left;
}

// table tr td.jobIdBody input {
//     width: 100%;
// }

// table th.stepHeader {
//     width: 5%;
// }

// table tr td .stepBody {
//     width: 5%;
// }

// table tr td.stepBody input {
//     width: 100%;
// }

// table th.actionHeader {
//     width: 20%;
// }

// table tr td .actionBody {
//     width: 20%;
// }