<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-12 mx-auto mt-5">
            <div class="col-12 text-center"><a href="/" class="logo"><img src="assets/img/logo.png"></a></div>
            <div class="card-group custom-form-css mt-3">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="angForm" (ngSubmit)="formSubmit()" novalidate>
                    <h1 class="text-center">Forgot Password</h1>
                    <p class="text-muted text-center">We get it, stuff happens. Just enter your user name/email below and we'll send you a link to reset your password!</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-envelope"></i></span>
                      </div>
                      <input type="text" formControlName="email" class="form-control" id="email"  name="email"
                      placeholder="Email" autocomplete="email" required>
                    </div>
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                      <div *ngIf="f.email.errors?.required">
                        Email is required.
                      </div>
                      <div *ngIf="f.email.errors?.email">
                        Invalid input! Only email allowed.
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button [disabled]="!angForm.valid" type="submit" class="btn btn-primary px-4">Send Reset Link</button>
                      </div>
                      <div class="col-6 text-right">
                          <a [routerLink]="['/sign-in']" class="btn btn-link px-0">Already have an account? Sign In!</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  