.app-body {
    width: 100%;
    background: #20a8d8;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.app-body .main {
    background: #20a8d8 url(/assets/img/login-image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.custom-form-css .card {
    background-color: #0c114a;
}

body {
    background: #fff;
}

.card-body h1 {
    color: #fff;
}

.card-group.custom-form-css .card {
    border-radius: 10px;
    border: none;
}