<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" *ngIf="newEntity">
          <strong>Raise Incident</strong>
        </div>
        <div class="card-header" *ngIf="!newEntity">
          <strong>Incident Details</strong>
        </div>
        <form [formGroup]="angForm" novalidate>
          <div class="card-body">
            <fieldset *ngIf="newEntity" class="border p-2">
              <legend class="w-auto">Incident</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="moduleId">Category</label>
                  <ng-select [items]="moduleList" placeholder="-- Select Category --" #moduleId
                    (change)="populateSubmodule($event)" formControlName="moduleId" id="moduleId" name="moduleId"
                    bindLabel="customerModuleName" bindValue="moduleId">
                  </ng-select>
                  <div *ngIf="f.moduleId.touched && f.moduleId.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.moduleId.errors?.required">
                      Category is required.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="subModuleId">Sub Category</label>
                  <ng-select [items]="subModuleList" placeholder="-- Select Sub Category --"
                    formControlName="subModuleId" id="subModuleId" name="subModuleId" bindLabel="customerModuleName"
                    bindValue="moduleId">
                  </ng-select>
                  <div *ngIf="f.subModuleId.touched && f.subModuleId.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.subModuleId.errors?.required">
                      Sub Category is required.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="priorityId">Priority</label>
                  <ng-select [items]="priorities" placeholder="-- Select Priority --" formControlName="priorityId"
                    id="priorityId" name="priorityId" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.priorityId.touched && f.priorityId.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.priorityId.errors?.required">
                      Priority is required.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="watchList">Watch List</label>
                  <ng-select [multiple]="true" [items]="users" placeholder="-- Select Watch List People --"
                    formControlName="watchList" id="watchList" name="watchList" bindLabel="email" bindValue="email">
                  </ng-select>
                </div>
                <div class="col"></div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label required-control-label" for="title">Title</label>
                  <textarea formControlName="title" id="title" name="title" rows="4"
                    class="form-control textarea-non-resizable" placeholder="Incident Title"></textarea>
                  <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.title.errors?.required">
                      Title is required.
                    </div>
                    <div *ngIf="f.title.errors?.maxlength">
                      Allowed maxlength exceeds.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </fieldset>
            <fieldset *ngIf="!newEntity" class="border p-2">
              <legend class="w-auto">Incident</legend>
              <div class="row">
                <div class="col">
                  <label class="form-col-form-label" for="titleReadOnly">Title</label>
                  <textarea [readonly]="!newEntity" id="titleReadOnly" rows="4"
                    class="form-control textarea-non-resizable"
                    placeholder="Incident Title">{{incident.title}}</textarea>
                </div>
                <div class="col" *ngIf="(hasAgentPermission&&canEdit)">
                  <label class="form-col-form-label required-control-label" for="priorityId">Priority</label>
                  <ng-select [items]="priorities" placeholder="-- Select Priority --" formControlName="priorityId"
                    id="priorityId" name="priorityId" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.priorityId.touched && f.priorityId.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.priorityId.errors?.required">
                      Priority is required.
                    </div>
                  </div>
                </div>
                <input *ngIf="!(hasAgentPermission&&canEdit)" type="hidden" value="{{incident.priority.id}}"
                  formControlName="priorityId" id="priorityId" name="priorityId">
                <div class="col" *ngIf="hasAgentPermission&&!canEdit">
                  <label class="form-col-form-label" for="priorityReadOnly">Priority</label>
                  <input type="text" readonly value="{{incident.priority.name}}" id="priorityReadOnly"
                    class="form-control">
                </div>
                <div class="col" *ngIf="hasAgentPermission&&canEdit">
                  <label class="form-col-form-label" for="newStatus">New Status</label>
                  <ng-select [items]="statusList" #newStatus (change)="triggerSolutionDocumentAttachment($event)"
                    placeholder="-- Change Status --" formControlName="newStatus" id="newStatus" name="newStatus"
                    bindLabel="value" bindValue="key"></ng-select>
                  <div *ngIf="f.newStatus.touched && f.newStatus.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.newStatus.errors?.required">
                      Status is required.
                    </div>
                  </div>
                </div>
                <div class="col" *ngIf="hasAgentPermission&&!canEdit">
                  <label class="form-col-form-label" for="statusReadOnly">Status</label>
                  <input type="text" readonly value="{{incident.status}}" id="statusReadOnly" class="form-control">
                </div>
                <div class="col" *ngIf="!hasAgentPermission">
                  <label class="form-col-form-label" for="priorityReadOnly">Priority</label>
                  <input type="text" readonly value="{{incident.priority.name}}" id="priorityReadOnly"
                    class="form-control">
                </div>
                <div class="col" *ngIf="!hasAgentPermission">
                  <label class="form-col-form-label" for="statusReadOnly">Status</label>
                  <input type="text" readonly value="{{incident.status}}" id="statusReadOnly" class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="moduleName">Category</label>
                  <input type="text" id="moduleName" readonly value="{{makeTitleCase(incident.moduleName)}}"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="subModuleName">Sub Category</label>
                  <input type="text" id="subModuleName" readonly value="{{makeTitleCase(incident.subModuleName)}}"
                    class="form-control">
                </div>
                <div class="col" [ngClass]="{'d-none': (hasAgentPermission&&canEdit)}">
                  <label class="form-col-form-label" for="subModuleName">Hours Estimated</label>
                  <input type="text" id="subModuleName" readonly value="{{incident.expectedTime}} hrs"
                    class="form-control">
                </div>
                <div class="col" [ngClass]="{'d-none': !(hasAgentPermission&&canEdit)}">
                  <label class="form-col-form-label" for="expectedTime">Expected Time Required</label>
                  <ng-select [items]="timeList" placeholder="-- Select Expected Time --" formControlName="expectedTime"
                    id="expectedTime" name="expectedTime" bindLabel="label" bindValue="id"></ng-select>
                  <div *ngIf="f.expectedTime.touched && f.expectedTime.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.expectedTime.errors?.required">
                      Expected Time is required.
                    </div>
                  </div>
                </div>
                <div class="col" [ngClass]="{'d-none': !(hasAgentPermission&&canEdit)}">
                  <label class="form-col-form-label" for="addTimeEntry">&nbsp;</label>
                  <div>
                    <button (click)="addTimeEntry()" id="addTimeEntry" type="button" class="btn btn-secondary">Add Time
                      Entry</button>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="userName">Employee Name</label>
                  <input type="text" id="userName" readonly
                    value="{{incident.raisedUser.firstName}} {{incident.raisedUser.lastName}}" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="userEmail">Employee Email</label>
                  <input type="text" id="userEmail" readonly value="{{incident.raisedUser.email}}" class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="userContactNo">Employee Contact No.</label>
                  <input type="text" id="userContactNo" readonly value="{{incident.raisedUser.contactNo}}"
                    class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="userDepartment">Employee Department</label>
                  <input type="text" id="userDepartment" readonly value="{{incident.raisedUser.department.name}}"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="userLocation">Employee Location</label>
                  <input type="text" id="userLocation" readonly value="{{incident.raisedUser.location.name}}"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="userLocation">Employee Manager</label>
                  <input type="text" id="userLocation" readonly value="{{mngrDtl.firstName}} {{mngrDtl.lastName}}"
                    class="form-control">
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label" for="agentName">Agent Name</label>
                  <input type="text" id="agentName" readonly
                    value="{{incident.assignedUser?.firstName}} {{incident.assignedUser?.lastName}}"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="agentEmail">Agent Email</label>
                  <input type="text" id="agentEmail" readonly value="{{incident.assignedUser?.email}}"
                    class="form-control">
                </div>
                <div class="col">
                  <label class="form-col-form-label" for="agentContactNo">Agent Contact No.</label>
                  <input type="text" id="agentContactNo" readonly value="{{incident.assignedUser?.contactNo}}"
                    class="form-control">
                </div>
              </div>
            </fieldset>
            <div *ngIf="!newEntity" id="comments" class="row-margin-05">
              <h3 class="accordion-toggle"><b>{{incident.title}}&nbsp;&nbsp;[{{incident.incidentNo}}]</b>
                <span class="float-right">
                  <span class="highlight" id="highlight">Expand</span>
                  <i id="comments-action" class="fa fa-plus-circle "></i>
                </span>
              </h3>
              <div>
                <div *ngFor="let item of incidentCommunications">
                  <div *ngIf="item.communicatedBy!=null" [ngClass]="{'highlight-grid-u': incident.raisedUser.id==item.communicatedBy.id,
                  'highlight-grid-a ': incident.raisedUser.id!=item.communicatedBy.id, 'row col-sm-12':true}">
                    <div class="col-sm-12">
                      <div [innerHTML]="item.message"></div>
                      <div>{{formatDateTime(item.createdDate)}}</div>
                      <!-- <div class="col-sm-12"> -->
                      <div *ngIf="item.attachments.length > 0" class="btn-group" role="group">
                        <label class="form-col-form-label"><b>Attachements : </b></label>
                        <ng-container *ngFor="let e of item.attachments">
                          <span class="actionable-span" (click)="downloadFile(e.id)">{{e.fileName}}&nbsp;&nbsp;</span>
                        </ng-container>
                      </div>
                      <!-- <div>
                        <b>
                          Contact No. :{{item.communicatedBy.contactNo}}
                        </b>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <fieldset *ngIf="canEdit" class="border p-2">
              <legend *ngIf="newEntity" class="w-auto required-control-label">Incident Description</legend>
              <legend *ngIf="!newEntity" class="w-auto required-control-label">Update Incident</legend>
              <div class="row row-margin-05">
                <div class="col">
                  <!-- <label class="form-col-form-label required-control-label" for="message">Issue Details</label> -->
                  <ckeditor [config]="{readOnly:false}" formControlName="message" name="message" id="message">
                  </ckeditor>
                  <!-- <ckeditor [config]="{readOnly:false,removePlugins:'about',removeButtons:'Cut,Copy,Paste,Undo,Redo,Anchor,'}"
                    formControlName="message" name="message" id="message"> -->
                  <div *ngIf="f.message.touched && f.message.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.message.errors?.required">
                      Message is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label " for="fileInput">Attachments </label>
                  <i class="icon-info"
                    tooltip="Max file size can be 2 M.B and suported file types are txt/xls/xslx/csv/pdf/doc/docx/msg/jpeg/jpg/png"></i>&nbsp;&nbsp;
                  <input #fileInput multiple="multiple" (change)="getFileDetails($event)" type="file" id="fileInput"
                    formControlName="fileInput" name="fileInput">
                  <!-- <button (click)="resetFile(fileInput)" type="button" class="btn "><i class="fa fa-close"></i></button> -->
                  <div class="file-selection-area" id="file-selection-area">
                    <div *ngFor="let file of allSelectedFiles;let indexOfelement=index;">
                      <div id="attached-file-indexOfelement">
                        {{file.name}}&nbsp;&nbsp;<button (click)="removeFile(indexOfelement)" type="button"
                          class="btn "><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="f.fileInput.touched && f.fileInput.invalid" class="alert alert-danger-custom">
                    <div *ngIf="f.fileInput.errors?.validAttachments">
                      Supported file types are txt/xls/xslx/csv/pdf/doc/docx/msg/jpeg/jpg/png.
                    </div>
                    <div *ngIf="f.fileInput.errors?.mustBeLessThan2MB">
                      File size should be less than 3 MB.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <div *ngIf="solutionDocumentEnabled" class="row row-margin-05">
                <div class="col">
                  <label class="form-col-form-label " for="fileInput">Solution Document </label>
                  <i class="icon-info"
                    tooltip="Max file size can be 2 M.B and suported file types are txt/xls/xslx/csv/pdf/doc/docx/msg/jpeg/jpg/png"></i>&nbsp;&nbsp;
                  <input #solutionDocument multiple="multiple" (change)="getSolutionDocumentFileDetails($event)"
                    type="file" id="solutionDocument" formControlName="solutionDocument" name="solutionDocument">
                  <!-- <button (click)="resetFile(fileInput)" type="button" class="btn "><i class="fa fa-close"></i></button> -->
                  <div class="file-selection-area" id="sol-file-selection-area">
                    <div *ngFor="let file of allSelectedSolutionDocumentFiles;let indexOfelement=index;">
                      <div id="attached-sol-file-indexOfelement">
                        {{file.name}}&nbsp;&nbsp;<button (click)="removeSolutionDocumentFile(indexOfelement)"
                          type="button" class="btn "><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="f.solutionDocument.touched && f.solutionDocument.invalid"
                    class="alert alert-danger-custom">
                    <div *ngIf="f.solutionDocument.errors?.validAttachments">
                      Supported file types are txt/xls/xslx/csv/pdf/doc/docx/msg/jpeg/jpg/png.
                    </div>
                    <div *ngIf="f.solutionDocument.errors?.mustBeLessThan2MB">
                      File size should be less than 3 MB.
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </fieldset>
          </div>
          <div class="card-footer">
            <button *ngIf="canEdit && hasPermission('WRITE,SOLVE')"
              [disabled]="!angForm.valid||(incident.status=='SOLUTION_PROVIDED'||incident.status=='CLOSED')"
              (click)="formSubmit('DRAFT')" type="button" class="btn btn-primary">Save
              as Draft</button>
            <button *ngIf="canEdit && hasPermission('WRITE,SOLVE')"
              [disabled]="!angForm.valid||(incident.status=='SOLUTION_PROVIDED'||incident.status=='CLOSED')"
              (click)="formSubmit('OPEN')" type="button" class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary" (click)="goBack()" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>