<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-10">
                            <i class="fa fa-align-justify"></i> Group Incidents
                        </div>
                        <div class="col-md-2 float-right">
                            <!-- <button type="button" class="btn btn-sm btn-minimize"><i
                                    class="icon-cloud-upload"></i></button> -->
                            <!-- <button type="button" class="btn btn-sm btn-minimize"><i
                                    class="icon-cloud-download"></i></button> -->
                            <!-- <button type="button" class="btn btn-sm btn-primary" (click)="add()"><i
                                    class="icon-plus"></i> Raise an Incident
                            </button> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card ">
                        <div class="card-header">
                            <i class="fa fa-search"></i>Search Group Incident
                        </div>
                        <form [formGroup]="angForm" (ngSubmit)="formSubmit()" novalidate>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-col-form-label" for="incidentNo">Incident No</label>
                                        <input type="text" formControlName="incidentNo" ngModel id="incidentNo"
                                            name="incidentNo" class="form-control" placeholder="Incident No"
                                            aria-label="Incident No">
                                    </div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                                <div class="row row-margin-05">
                                    <div class="col">
                                        <label class="form-col-form-label" for="moduleId">Module</label>
                                        <select #moduleId (change)="populateSubmodule($event.target.value)"
                                            class="form-control" formControlName="moduleId" ngModel id="moduleId"
                                            name="moduleId">
                                            <option value="">-- Select Module --</option>
                                            <option *ngFor="let e of moduleList" value="{{e.moduleId}}">
                                                {{e.customerModuleName}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="form-col-form-label" for="subModuleId">Sub
                                            Module</label>
                                        <select class="form-control" #subModuleId
                                            (change)="populateUser($event.target.value)" formControlName="subModuleId"
                                            ngModel id="subModuleId" name="subModuleId">
                                            <option value="">-- Select Sub Module --</option>
                                            <option *ngFor="let e of subModuleList" value="{{e.moduleId}}">
                                                {{e.customerModuleName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="form-col-form-label" for="priorityId">Priority</label>
                                        <select class="form-control" formControlName="priorityId" ngModel
                                            id="priorityId" name="priorityId">
                                            <option value="">-- Select Priority --</option>
                                            <option *ngFor="let e of priorities" value="{{e.id}}">{{e.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row row-margin-05">
                                    <div class="col">
                                        <label class="form-col-form-label" for="title">Incident Title</label>
                                        <input type="text" formControlName="title" ngModel id="title" name="title"
                                            class="form-control" placeholder="Issue Title" aria-label="Issue Title">
                                    </div>
                                    <!-- <div class="col">
                                        <label class="form-col-form-label" for="raisedUser">Raised User</label>
                                        <select class="form-control" formControlName="raisedUser" ngModel
                                            id="raisedUser" name="raisedUser">
                                            <option value="">-- Select Raised User--</option>
                                            <option *ngFor="let e of userList" value="{{e.id}}">{{e.email}}</option>
                                        </select>
                                    </div> -->
                                    <div class="col">
                                        <label class="form-col-form-label" for="assignedUser">Assigned User</label>
                                        <select class="form-control" formControlName="assignedUser" ngModel
                                            id="assignedUser" name="assignedUser">
                                            <option value="">-- Select Assigned User--</option>
                                            <option *ngFor="let e of agentList" value="{{e.id}}">{{e.email}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="form-col-form-label" for="status">Incident Status</label>
                                        <select class="form-control" formControlName="status" ngModel id="status"
                                            name="status">
                                            <option value="">-- Select Incident Status--</option>
                                            <option *ngFor="let e of statusList" value="{{e}}">{{e}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i> Search
                                </button>
                                <button type="button" (click)="loadPage()" class="btn btn-danger btn-sm">
                                    <i class="fa fa-close"></i> Cancel
                                </button>
                                <button type="button"
                                    [disabled]="(canAssignNow && selection.selected.length>=1)? false : true"
                                    (click)="openAssignModal()" class="btn btn-warning btn-sm">
                                    <i class="fa fa-male"></i> Assign
                                </button>
                            </div>
                        </form>
                    </div>
                    <hr />
                    <table mat-table [dataSource]="datasource">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <input id="select-all" type="checkbox" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <input id="select-{{row.id}}" type="checkbox" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="incDtl">
                            <th mat-header-cell *matHeaderCellDef> Inc. Dtl. </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.incidentNo}}<br />
                                {{element.title}}<br />
                                {{element.priority.name}}<br />
                                {{element.raisedUser.email}}<br />
                                {{formatDateTime(element.raisedAt)}}<br />
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="assignedUser">
                            <th mat-header-cell *matHeaderCellDef> Assigned User </th>
                            <td [attr.data-label]="element.status" id="id-assigned-{{element.id}}" mat-cell
                                *matCellDef="let element">
                                {{element.assignedUser?.email}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="slaAt">
                            <th mat-header-cell *matHeaderCellDef> SLA. At </th>
                            <td mat-cell *matCellDef="let element">
                                {{formatDateTime(element.slaAt)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td [attr.data-label]="element.status" id="id-status-{{element.id}}" mat-cell
                                *matCellDef="let element">
                                {{element.status}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button id="id-assign-{{element.id}}" type="button" [ngClass]="{'d-none': element.status=='SOLUTION_PROVIDED'||element.status=='CLOSED',
                                'btn btn-sm btn-warning':true}" (click)="assign(element)"><i class="fa fa-man
                                       "></i> Assign
                                </button>
                                <button id="id-note-{{element.id}}" type="button" [ngClass]="{'d-none': element.status=='SOLUTION_PROVIDED'||element.status=='CLOSED',
                                'btn btn-sm btn-primary':true}" (click)="edit(element)"><i
                                        class="fa fa-comments-o"></i> View/Update
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
                            [ngClass]="{gray: even}"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" align="center" colspan="9999">
                                No data found!
                            </td>
                        </tr>
                    </table>
                    <mat-paginator showFirstLastButtons [pageSizeOptions]="[ 10, 25, 100]" [pageSize]="10">
                    </mat-paginator>
                    <!--/.row-->
                </div>
                <!--/.row-->
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->