<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="angForm" (ngSubmit)="formSubmit()" novalidate>
                  <h1>Request for a Demo!</h1>
                  <p class="text-muted">Request a product demo before purchase.</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="name" class="form-control" id="name" name="name"
                      placeholder="Name" autocomplete="name">
                  </div>
                  <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors?.required">
                      Name is required.
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-envelope"></i></span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" id="email" name="email"
                      placeholder="Email" autocomplete="email" required>
                  </div>
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors?.required">
                      Email is required.
                    </div>
                    <div *ngIf="f.email.errors?.email">
                      Invalid input! Only email allowed.
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input type="text" formControlName="phone" class="form-control" id="phone" name="phone"
                      placeholder="Phone Number" autocomplete="phone" required>
                  </div>
                  <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                    <div *ngIf="f.phone.errors?.required">
                      Phone is required.
                    </div>
                    <div *ngIf="f.phone.errors?.pattern">
                      Invalid input! Only phone numbers allowed.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="!angForm.valid" type="submit" class="btn btn-primary px-4">Request</button>
                    </div>
                    <div class="col-6 text-right">
                      <a [routerLink]="['/forgot-password']" class="btn btn-link px-0">Forgot password?</a>
                      <a [routerLink]="['/sign-in']" class="btn btn-link px-0">Already have an account? Sign In!</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>