.app-body {

    background: #fff;
}
.custom-form-css .card{
background-color: #0c114a;
}
body{
background: #fff;
}
.card-body h1{
    color: #fff;
}

.card-group.custom-form-css .card {
    border-radius: 10px;
    border: none;
}