<div class="animated fadeIn">
  <tabset>
    <tab *ngIf="roles.includes('ORG_ADMIN')" heading="Organization Admin">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-admin" class="row-margin-05">
            <h3 class="accordion-toggle d-none"><b>Employees & Vendors</b>
            </h3>
            <div class="d-none">
              <div class="row">
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #18cb0f96">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminUserDetail({})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.activeEmployees||0}}</div>
                      <div>Active Employees</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #6e5eeca9">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminVendorDetail({inHouse:"1"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.inHouseVendors||0}}</div>
                      <div>In-House Vendors</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #b652daa2">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminVendorDetail({inHouse:"0"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.outSourcedVendors||0}}</div>
                      <div>Outsourced Vendors</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="accordion-toggle"
              *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'UAT')"><b>UAT Status</b>
            </h3>
            <div>
              <div class="row">
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #437ff7a8">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewUat({status:"total"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{uatDashboardVO.total}}</div>
                      <div>Modules in Total</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #08d620a9">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewUat({status:"notStarted"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{uatDashboardVO.notStarted}}
                      </div>
                      <div>Modules Not Started</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #f63c6e83">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewUat({status:"inProgress"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{uatDashboardVO.inProgress}}
                      </div>
                      <div>Modules In-Progress</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="card text-black " style="background-color: #8939f283">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewUat({status:"completed"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{uatDashboardVO.completed}}</div>
                      <div>Modules Completed</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <div class="row">
                <!-- <canvas baseChart width="5" height="1" (chartHover)="chartHovered($event)"
                  (chartClick)="siteAdminChart1($event)" [colors]="colors" [data]="dataSets"
                  [labels]="lables" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                </canvas> -->
                <canvas baseChart width="5" height="1" [colors]="colors" [data]="dataSets"
                  (chartClick)="uatChart($event)" [labels]="lables" [chartType]="uatChartType"
                  (chartHover)="chartHovered($event)" [options]="uatChartOptions" [legend]="true">
                </canvas>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b> Incidents By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of orgAdminChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasOrgAdminChart1Data"
                class="row">
                <div class="col-12">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="orgAdminChart1($event)" [colors]="orgAdminChart1Colors" [data]="orgAdminChart1Data"
                    [labels]="orgAdminChart1Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of orgAdmin2ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasOrgAdminChart3Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)='orgAdminChart3($event)' [colors]="orgAdminChart3Colors" [data]="orgAdminChart3Data"
                    [labels]="orgAdminChart3Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b> Incidents By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of orgAdmin1ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasOrgAdminChart2Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="orgAdminChart2($event)" [colors]="orgAdminChart2Colors" [data]="orgAdminChart2Data"
                    [labels]="orgAdminChart2Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Tickets By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of orgAdmin3ChunkedTilesData">
                <div class="col-sm-2" *ngFor="let item of rows">
                  <div class="card text-black" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasOrgAdminChart4Data"
                class="row">
                <div class="col">
                  <canvas width="5" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)='orgAdminChart4($event)' [colors]="orgAdminChart4Colors" [data]="orgAdminChart4Data"
                    [labels]="orgAdminChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>