.row-margin-05 {
    margin-top: 2.0em;
}

table th.uatDescriptionHeader {
    width: 22.5%;
}

table tr td .uatDescriptionBody {
    width: 22.5%;
}

table th.actualResultHeader {
    width: 22.5%;
}

table tr td .actualResultBody {
    width: 22.5%;
}

table th.activityHeader {
    width: 10%;
}

table tr td .activityBody {
    width: 10%;

}

table th.remarksHeader {
    width: 22.5%;
}

table tr td .remarksBody {
    width: 22.5%;
}

table th.retestDetailHeader {
    width: 22.5%;
}

table tr td .retestDetailBody {
    width: 22.5%;
}

.action-btn{
    padding-left: 40%;
}

// table tr td.jobIdBody input {
//     width: 100%;
// }

// table th.stepHeader {
//     width: 5%;
// }

// table tr td .stepBody {
//     width: 5%;
// }

// table tr td.stepBody input {
//     width: 100%;
// }

// table th.actionHeader {
//     width: 20%;
// }

// table tr td .actionBody {
//     width: 20%;
// }