<div class="animated fadeIn">
  <tabset>
    <tab *ngIf="roles.includes('APP_ADMIN')" (selectTab)="loadAppAdminData()" heading="App Admin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "ALL"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.totalCompanies}}</div>
                  <div>Total Organization</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "ACTIVE"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.activeCompanies}}</div>
                  <div>Active Organization</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "INACTIVE"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.inactiveCompanies}}</div>
                  <div>Inactive Organization</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "ALL"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.allLicenceTypeCompanies}}</div>
                  <div>Organization (Licence Type All)</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-success">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "INCIDENT"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.incidentLicenceTypeCompanies}}</div>
                  <div>Organization (Licence Type Incident)</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-facebook">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "ASSET"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{adminDashboard.assetLicenceTypeCompanies}}</div>
                  <div>Organization (Licence Type Asset)</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col col-sm-6">
              <canvas baseChart (chartHover)="chartHovered($event)" (chartClick)="appAdminChart1SegmentClicked($event)"
                [colors]="adminChartColors" [data]="adminDoughnutChartData" [labels]="adminDoughnutChartLabels"
                [chartType]="adminDoughnutChartType" [options]="adminDoughnutChartOptions" [legend]="true">
              </canvas>
            </div>
            <div class="col col-sm-6">
              <canvas baseChart (chartHover)="chartHovered($event)" (chartClick)="appAdminChart2SegmentClicked($event)"
                [colors]="admin1ChartColors" [data]="admin1DoughnutChartData" [labels]="admin1DoughnutChartLabels"
                [chartType]="admin1DoughnutChartType" [options]="admin1DoughnutChartOptions" [legend]="true">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="roles.includes('ORG_ADMIN')" (selectTab)="loadOrgAdminData()" heading="Organization Admin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"USER"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.activeEmployees}}</div>
                  <div>Active Employees</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary cyan">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.inHouseVendors}}</div>
                  <div>In House Vendors</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT_VENDOR"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.outSourcedVendors}}</div>
                  <div>Out Sourced Vendors</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info teal">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"USER"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.financeApplications}}</div>
                  <div>Finance Applications</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary pink">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.hrApplications}}</div>
                  <div>HR Applications</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-warning green">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT_VENDOR"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.hrQueries}}</div>
                  <div>HR Queries</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info purple">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"USER"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.itInfrastructure}}</div>
                  <div>IT Infrastructure</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary orange">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.personalComputing}}</div>
                  <div>Personal Computing</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-warning indigo">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT_VENDOR"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.salesApplications}}</div>
                  <div>Sales Applications</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info red">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"USER"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.softwareRequests}}</div>
                  <div>Software Requests</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary cyan">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.vehiclePass}}</div>
                  <div>Vehicle Pass</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <!-- <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewOrgAdmin({filterType:"AGENT_VENDOR"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{orgAdminDashboardVO.salesApplications}}</div>
                  <div>Sales Applications</div>
                </div>
              </div> -->
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col col-sm-6">
              <canvas width="2" height="1" baseChart (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" [colors]="orgAdminChartColors" [data]="orgAdminDoughnutChartData"
                [labels]="orgAdminDoughnutChartLabels" [chartType]="orgAdminDoughnutChartType"
                [options]="orgAdminDoughnutChartOptions" [legend]="true">
              </canvas>
            </div>
            <div class="col col-sm-6">
              <canvas width="2" height="1" baseChart (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" [colors]="orgAdmin1ChartColors" [data]="orgAdmin1DoughnutChartData"
                [labels]="orgAdmin1DoughnutChartLabels" [chartType]="orgAdmin1DoughnutChartType"
                [options]="orgAdmin1DoughnutChartOptions" [legend]="true">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="hasUserRole()" (selectTab)="loadUserData()" heading="User">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewUser({status:"OPEN"})' class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{userDashboardVO.openIncidents}}</div>
                  <div>Open Incidents</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewUser({status:"ASSIGNED"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{userDashboardVO.assignedIncidents}}</div>
                  <div>Assigned Incidents</div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <button type="button" (click)='viewUser({status:"CLOSED"})'
                    class="btn btn-transparent p-0 float-right">
                    <i class="icon-eye"></i>
                  </button>
                  <div class="text-value">{{userDashboardVO.closedIncidents}}</div>
                  <div>Closed Incidents</div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <canvas width="2" height="1" baseChart (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)" [colors]="userChartColors" [data]="userDoughnutChartData"
              [labels]="userDoughnutChartLabels" [chartType]="userDoughnutChartType"
              [options]="userDoughnutChartOptions" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="!roles.includes('ORG_ADMIN')&&!roles.includes('APP_ADMIN')&&!hasUserRole()" heading="ELSE">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h1>WIP...</h1>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>