<div *ngIf="role=='APP_ADMIN'" class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "ALL"})' class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.totalCompanies}}</div>
          <div>Total Organization</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "ACTIVE"})' class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.activeCompanies}}</div>
          <div>Active Organization</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "INACTIVE"})' class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.inactiveCompanies}}</div>
          <div>Inactive Organization</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "ALL", "licenseType": "ALL"})'
            class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.allLicenceTypeCompanies}}</div>
          <div>Organization (Licence Type All)</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "ALL", "licenseType": "INCIDENT"})'
            class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.incidentLicenceTypeCompanies}}</div>
          <div>Organization (Licence Type Incident)</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-facebook">
        <div class="card-body pb-0">
          <button type="button" (click)='view({"status": "ALL", "licenseType": "ASSET"})'
            class="btn btn-transparent p-0 float-right">
            <i class="icon-eye"></i>
          </button>
          <div class="text-value">{{adminDashboard.assetLicenceTypeCompanies}}</div>
          <div>Organization (Licence Type Asset)</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<div *ngIf="role!='APP_ADMIN'" class="animated fadeIn">
  <h1>WIP...</h1>
</div>