<div class="animated fadeIn">
  <tabset>
    <tab *ngIf="roles.includes('APP_ADMIN')" (selectTab)="loadAppAdminData()" heading="App Admin">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-app-admin" class="row-margin-05">
            <h3 class="accordion-toggle"><b>Organizations By Status</b>
            </h3>
            <div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-info">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "ALL"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.totalCompanies}}</div>
                      <div>Total Organization</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-warning">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "ACTIVE"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.activeCompanies}}</div>
                      <div>Active Organization</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-success purple ">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "INACTIVE"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.inactiveCompanies}}</div>
                      <div>Inactive Organization</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <div class="row">
                <canvas baseChart width="4" height="1" (chartHover)="chartHovered($event)"
                  (chartClick)="siteAdminChart1($event)" [colors]="siteAdminChart1Colors" [data]="siteAdminChart1Data"
                  [labels]="siteAdminChart1Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                </canvas>
              </div>
            </div>
            <h3 class="accordion-toggle"><b>Organizations By Licence Types</b>
            </h3>
            <div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-danger">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "ALL"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.allLicenceTypeCompanies}}</div>
                      <div>Organization (Licence Type All)</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-success">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "INCIDENT"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.incidentLicenceTypeCompanies}}</div>
                      <div>Organization (Licence Type Incident)</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-facebook">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewSiteAdmin({"status": "ALL", "licenseType": "ASSET"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{adminDashboard.assetLicenceTypeCompanies}}</div>
                      <div>Organization (Licence Type Asset)</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <div class="row">
                <canvas baseChart width="4" height="1" (chartHover)="chartHovered($event)"
                  (chartClick)="siteAdminChart2($event)" [colors]="siteAdminChart2Colors" [data]="siteAdminChart2Data"
                  [labels]="siteAdminChart2Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="roles.includes('ORG_ADMIN')" (selectTab)="loadOrgAdminData()" heading="Organization Admin">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-admin" class="row-margin-05">
            <h3 class="accordion-toggle"><b>Employees & Vendors</b>
            </h3>
            <div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-info">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminUserDetail({})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.activeEmployees||0}}</div>
                      <div>Active Employees</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-warning">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminVendorDetail({inHouse:"1"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.inHouseVendors||0}}</div>
                      <div>In House Vendors</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white cyan">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewOrgAdminVendorDetail({inHouse:"0"})'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{orgAdminDashboardVO.outSourcedVendors||0}}</div>
                      <div>Out Sourced Vendors</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Category {{orgAdminChunkedTilesData.length}}</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of orgAdminChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasOrgAdminChart1Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="orgAdminChart1($event)" [colors]="orgAdminChart1Colors" [data]="orgAdminChart1Data"
                    [labels]="orgAdminChart1Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of orgAdmin2ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasOrgAdminChart3Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)='orgAdminChart3($event)' [colors]="orgAdminChart3Colors" [data]="orgAdminChart3Data"
                    [labels]="orgAdminChart3Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of orgAdmin1ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasOrgAdminChart2Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="orgAdminChart2($event)" [colors]="orgAdminChart2Colors" [data]="orgAdminChart2Data"
                    [labels]="orgAdminChart2Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of orgAdmin3ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasOrgAdminChart4Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)='orgAdminChart4($event)' [colors]="orgAdminChart4Colors" [data]="orgAdminChart4Data"
                    [labels]="orgAdminChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="hasUserRole()" (selectTab)="loadUserData()" heading="User">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-user" class="row-margin-05">
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of userChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasUserChart1Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart1($event)" [colors]="userChart1Colors" [data]="userChart1Data"
                    [labels]="userChart1Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Category</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of user2ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasUserChart3Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart3($event)" [colors]="userChart3Colors" [data]="userChart3Data"
                    [labels]="userChart3Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of user1ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasUserChart2Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart2($event)" [colors]="userChart2Colors" [data]="userChart2Data"
                    [labels]="userChart2Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>ASSET Incidents By Status</b>
            </h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of user3ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasUserChart4Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="userChart4($event)" [colors]="userChart4Colors" [data]="userChart4Data"
                    [labels]="userChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="hasAgentRole()" (selectTab)="loadAgentData()" heading="Agent">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-agent" class="row-margin-05">
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Priority</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of agent1ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasAgentChart2Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart1($event)" [colors]="agentChart2Colors" [data]="agentChart2Data"
                    [labels]="agentChart2Labels" [chartType]="chartType" [options]="chartOptions"
                    [legend]="true"></canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Priority</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent4ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart5Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart5($event)" [colors]="agentChart5Colors" [data]="agentChart5Data"
                    [labels]="agentChart5Labels" [chartType]="chartType" [options]="chartOptions"
                    [legend]="true"></canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Category</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of agentChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasAgentChart1Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart2($event)" [colors]="agentChart1Colors" [data]="agentChart1Data"
                    [labels]="agentChart1Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Category</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent3ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart4Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart4($event)" [colors]="agentChart4Colors" [data]="agentChart4Data"
                    [labels]="agentChart4Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Status</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of agent2ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasAgentChart3Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart3($event)" [colors]="agentChart3Colors" [data]="agentChart3Data"
                    [labels]="agentChart3Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Status</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of agent5ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"agent","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasAgentChart6Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="agentChart6($event)" [colors]="agentChart6Colors" [data]="agentChart6Data"
                    [labels]="agentChart6Labels" [chartType]="chartType" [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="hasCategoryAdminRole()" (selectTab)="loadCategoryAdminData()" heading="Category Admin">
      <div class="card">
        <div class="card-body">
          <div id="dataSets-org-category-admin" class="row-margin-05">
            <h3 class="accordion-toggle"><b>Incidents By Aging</b></h3>
            <div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-info orange">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident({agingFilter:">=5"},"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{categoryAdminDashboardVO.aging5||0}}</div>
                      <div><strong> > 5 Days </strong></div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-primary pink">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident({agingFilter:">=10"},"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{categoryAdminDashboardVO.aging10||0}}</div>
                      <div><strong> > 10 Days </strong></div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-warning green">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident({agingFilter:">=20"},"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{categoryAdminDashboardVO.aging20||0}}</div>
                      <div><strong> > 20 Days </strong></div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-info purple">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident({agingFilter:">=30"},"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{categoryAdminDashboardVO.aging30||0}}</div>
                      <div><strong> > 30 Days </strong></div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                  <div class="card text-white bg-primary">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident({agingFilter:">60"},"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{categoryAdminDashboardVO.aging60||0}}</div>
                      <div><strong> > 60 Days </strong></div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-4">
                </div>
                <!--/.col-->
              </div>
              <div *ngIf="categoryAdminDashboardVO.priorityWiseIncidents.length>0" class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="caChart1($event)" [colors]="categoryAdminChart3Colors"
                    [data]="categoryAdminChart3Data" [labels]="categoryAdminChart3Labels" [chartType]="chartType"
                    [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 class="accordion-toggle"><b>Incidents By Priority</b></h3>
            <div>
              <div class="row" *ngFor="let rows of ca1ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="categoryAdminDashboardVO.priorityWiseIncidents.length>0" class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="caChart2($event)" [colors]="categoryAdminChart2Colors"
                    [data]="categoryAdminChart2Data" [labels]="categoryAdminChart2Labels" [chartType]="chartType"
                    [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')"
              class="accordion-toggle"><b>Generel Incidents By Category</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT')">
              <div class="row" *ngFor="let rows of caChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'INCIDENT') && hasCategoryAdminChart1Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="caChart3($event)" [colors]="categoryAdminChart1Colors"
                    [data]="categoryAdminChart1Data" [labels]="categoryAdminChart1Labels" [chartType]="chartType"
                    [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
            <h3 *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')"
              class="accordion-toggle"><b>Asset Incidents By Category</b></h3>
            <div *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET')">
              <div class="row" *ngFor="let rows of ca4ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user","ASSET")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="(loggedInUser.licenseType == 'ALL' || loggedInUser.licenseType == 'ASSET') && hasCategoryAdminChart5Data"
                class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="caChart5($event)" [colors]="categoryAdminChart5Colors"
                    [data]="categoryAdminChart5Data" [labels]="categoryAdminChart5Labels" [chartType]="chartType"
                    [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>




            <h3 class="accordion-toggle"><b>Incidents By Status</b></h3>
            <div>
              <div class="row" *ngFor="let rows of ca3ChunkedTilesData">
                <div class="col-sm-6 col-lg-4" *ngFor="let item of rows">
                  <div class="card text-white" [ngStyle]="{'background-color':item.backgroundColour}">
                    <div class="card-body pb-0">
                      <button type="button" (click)='viewIncident(item.detailDataParams,"user")'
                        class="btn btn-transparent p-0 float-right">
                        <i class="icon-eye"></i>
                      </button>
                      <div class="text-value">{{item.value}}</div>
                      <div>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="categoryAdminDashboardVO.priorityWiseIncidents.length>0" class="row">
                <div class="col">
                  <canvas width="4" height="1" baseChart (chartHover)="chartHovered($event)"
                    (chartClick)="caChart4($event)" [colors]="categoryAdminChart4Colors"
                    [data]="categoryAdminChart4Data" [labels]="categoryAdminChart4Labels" [chartType]="chartType"
                    [options]="chartOptions" [legend]="true">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>